In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Create reference paths to the raw dataset
path = "Datasets/raw_datasets/"
EV_registrations_path = path + "EV_sales_table_raw.csv"
EV_stations_raw = path + "EV_stations_raw.csv"
population_raw = path + "Population_counts_raw.csv"
income_raw = path + "Median_Income_Raw.csv"
unemployment_raw = path + "Unemployment_rate_raw.csv"

## Electric Vehicle Registrations

In [3]:
EV__registrations_df = pd.read_csv(EV_registrations_path, index_col=0)
# Confirm file is read to DataFrame correctly
EV__registrations_df.head(10)

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,Vehicle type,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479871,1.1.1.1,3488.0,NaN,NaN,NaN,0
1,2017-01,Canada,2016A000011124,Battery electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277485216,1.2.1.1,1664.0,NaN,NaN,NaN,0
2,2017-01,Canada,2016A000011124,Plug-in hybrid electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277490561,1.3.1.1,1824.0,NaN,NaN,NaN,0
3,2017-01,Newfoundland and Labrador,2016A000210,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479872,2.1.1.1,NaN,..,NaN,NaN,0
4,2017-01,Newfoundland and Labrador,2016A000210,Battery electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277485217,2.2.1.1,NaN,..,NaN,NaN,0
5,2017-01,Newfoundland and Labrador,2016A000210,Plug-in hybrid electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277490562,2.3.1.1,NaN,..,NaN,NaN,0
6,2017-01,"St. John's, Newfoundland and Labrador",2016S0503001,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479873,3.1.1.1,NaN,..,NaN,NaN,0
7,2017-01,"St. John's, Newfoundland and Labrador",2016S0503001,Battery electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277485218,3.2.1.1,NaN,..,NaN,NaN,0
8,2017-01,"St. John's, Newfoundland and Labrador",2016S0503001,Plug-in hybrid electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277490563,3.3.1.1,NaN,..,NaN,NaN,0
9,2017-01,Conception Bay South,2016A00051001485,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479874,4.1.1.1,NaN,..,NaN,NaN,0

In [4]:
# Check column headers
EV__registrations_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Zero-Emission Vehicles Fuel Type',
       'Vehicle type', 'Statistics', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL',
       'TERMINATED', 'DECIMALS'],
      dtype='object')

In [5]:
# Check data types
EV__registrations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336735 entries, 0 to 336734
Data columns (total 17 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   REF_DATE                          336735 non-null  object
 1   GEO                               336735 non-null  object
 2   DGUID                             335916 non-null  object
 3   Zero-Emission Vehicles Fuel Type  336735 non-null  object
 4   Vehicle type                      336735 non-null  object
 5   Statistics                        336735 non-null  object
 6   UOM                               336735 non-null  object
 7   UOM_ID                            336735 non-null  int64
 8   SCALAR_FACTOR                     336735 non-null  object
 9   SCALAR_ID                         336735 non-null  int64
 10  VECTOR                            336735 non-null  object
 11  COORDINATE                        336735 non-null  object
 12  VALUE                             170352 non-null  float64
 13  STATUS                            166383 non-null  object
 14  SYMBOL                            0 non-null       float64
 15  TERMINATED                        0 non-null       float64
 16  DECIMALS                          336735 non-null  int64
dtypes: float64(3), int64(3), object(11)
memory usage: 46.2+ MB

In [6]:
# Check number of unique values in all columns
EV__registrations_df.nunique()

REF_DATE                               21
GEO                                  5128
DGUID                                5332
Zero-Emission Vehicles Fuel Type        3
Vehicle type                            1
Statistics                              1
UOM                                     1
UOM_ID                                  1
SCALAR_FACTOR                           1
SCALAR_ID                               1
VECTOR                              16035
COORDINATE                          16035
VALUE                                 888
STATUS                                  1
SYMBOL                                  0
TERMINATED                              0
DECIMALS                                1
dtype: int64

In [7]:
# Drop columns with 1 or 0 number of unique values and "Unnamed: 0" as it matches the index
# Drop Vector and Coordinate columns, as they do not provide meaningful data for this analysis
EV__registrations_df = EV__registrations_df.drop([ 
                "Vehicle type", 
                "Statistics", 
                "UOM",
                "UOM_ID",
                "SCALAR_FACTOR",
                "SCALAR_ID",
                "VECTOR",
                "COORDINATE", 
                "STATUS", 
                "SYMBOL", 
                "TERMINATED", 
                "DECIMALS"], axis=1)
EV__registrations_df.sample(5)

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE
284634,2021-04,Brabant Lake,2016A00054718825,All zero-emission vehicles,0.0
287331,2021-04,Nisga'a,2016A00055949035,All zero-emission vehicles,0.0
325001,2022-01,La Minerve,2016A00052478130,Plug-in hybrid electric,NaN
281607,2021-04,Rolling River 67B,2016A00054615072,All zero-emission vehicles,0.0
144981,2019-04,Happy Adventure,2016A00051007041,All zero-emission vehicles,NaN

In [8]:
# Drop rows with any NaN values remaining
EV_cleaned_df = EV__registrations_df.dropna()
print(EV_cleaned_df.shape[0])
EV_cleaned_df.sample(5)

169911

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE
108261,2018-07,Little Hills 158B,2016A00054718849,All zero-emission vehicles,0.0
75419,2018-01,Island View,2016A00054706085,Plug-in hybrid electric,0.0
142067,2019-01,Metchosin,2016A00055917042,Plug-in hybrid electric,0.0
288241,2021-04,West Moberly Lake 168A,2016A00055955802,Battery electric,0.0
25376,2017-04,Aberdeen,2016A00054715019,Plug-in hybrid electric,0.0

In [9]:
# Filter rows for All zero-emission vehicles to remove duplicated information
all_zev = EV_cleaned_df["Zero-Emission Vehicles Fuel Type"] == "All zero-emission vehicles"
EV_filtered_df = EV_cleaned_df[all_zev]
print(EV_filtered_df.shape)
EV_filtered_df.sample(5)

(56637, 5)

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE
248244,2020-10,South Algonquin,2016A00053548001,All zero-emission vehicles,0.0
43833,2017-07,Carrot River,2016A00054714069,All zero-emission vehicles,0.0
299742,2021-07,Consul,2016A00054704021,All zero-emission vehicles,0.0
270816,2021-01,Invermere,2016A00055901039,All zero-emission vehicles,3.0
231342,2020-07,Hamilton,2016A00053525005,All zero-emission vehicles,112.0

In [10]:
# Save Geographic Unique Identifier from DGUID column to new column, then drop DGUID
EV_filtered_df["Geo-ID"] = [x[4:] for x in EV_filtered_df["DGUID"]]
EV_filtered_df.sample(5)

C:\Users\merri\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE,Geo-ID
222876,2020-04,Nequatque,2016A00055931844,All zero-emission vehicles,0.0,A00055931844
79563,2018-01,Mount Waddington B,2016A00055943027,All zero-emission vehicles,0.0,A00055943027
201033,2020-01,Piney,2016A00054601039,All zero-emission vehicles,0.0,A00054601039
11958,2017-01,Big Island Lake Cree Territory,2016A00054717811,All zero-emission vehicles,0.0,A00054717811
119871,2018-10,Morris-Turnberry,2016A00053540050,All zero-emission vehicles,0.0,A00053540050

In [11]:
# Drop DGUID and Zero-Emission Vehicles Fuel Type columns, save to new DataFrame
EV_locations_df = EV_filtered_df.drop(columns=["Zero-Emission Vehicles Fuel Type"], axis=1)

In [12]:
# Reset the index
EV_locations_df.reset_index(drop=True)

,REF_DATE,GEO,DGUID,VALUE,Geo-ID
0,2017-01,Canada,2016A000011124,3488.0,A000011124
1,2017-01,Prince Edward Island,2016A000211,0.0,A000211
2,2017-01,New Brunswick,2016A000213,5.0,A000213
3,2017-01,Quebec,2016A000224,1247.0,A000224
4,2017-01,"Campbellton, Quebec part",2016S050624330,0.0,S050624330
...,...,...,...,...,...
56632,2022-01,Lutselk'e,2016A00056105020,0.0,A00056105020
56633,2022-01,Reliance,2016A00056105026,0.0,A00056105026
56634,2022-01,"Region 5, Unorganized",2016A00056105097,0.0,A00056105097
56635,2022-01,Detah,2016A00056106021,0.0,A00056106021
56636,2022-01,"Region 6, Unorganized",2016A00056106097,0.0,A00056106097

In [13]:
# Reorder the columns for ease of reading
EV_locations_df = EV_locations_df[['GEO', 'DGUID', 'Geo-ID', 'VALUE', 'REF_DATE']]
EV_locations_df.head()

                           GEO           DGUID      Geo-ID   VALUE REF_DATE
0                       Canada  2016A000011124  A000011124  3488.0  2017-01
1140      Prince Edward Island     2016A000211     A000211     0.0  2017-01
1797             New Brunswick     2016A000213     A000213     5.0  2017-01
2643                    Quebec     2016A000224     A000224  1247.0  2017-01
2646  Campbellton, Quebec part  2016S050624330  S050624330     0.0  2017-01

In [14]:
# Save Canada to separate DataFrame, drop from locations DataFrame
EV_country_df = EV_locations_df.loc[lambda EV_locations_df: EV_locations_df['GEO'] == 'Canada']
EV_country_df

           GEO           DGUID      Geo-ID    VALUE REF_DATE
0       Canada  2016A000011124  A000011124   3488.0  2017-01
16035   Canada  2016A000011124  A000011124   5025.0  2017-04
32070   Canada  2016A000011124  A000011124   5184.0  2017-07
48105   Canada  2016A000011124  A000011124   5999.0  2017-10
64140   Canada  2016A000011124  A000011124   6844.0  2018-01
80175   Canada  2016A000011124  A000011124  14879.0  2018-04
96210   Canada  2016A000011124  A000011124  12622.0  2018-07
112245  Canada  2016A000011124  A000011124   9938.0  2018-10
128280  Canada  2016A000011124  A000011124   8275.0  2019-01
144315  Canada  2016A000011124  A000011124  19446.0  2019-04
160350  Canada  2016A000011124  A000011124  16186.0  2019-07
176385  Canada  2016A000011124  A000011124  12258.0  2019-10
192420  Canada  2016A000011124  A000011124  11923.0  2020-01
208455  Canada  2016A000011124  A000011124   9203.0  2020-04
224490  Canada  2016A000011124  A000011124  17299.0  2020-07
240525  Canada  2016A000011124  A000011124  15928.0  2020-10
256560  Canada  2016A000011124  A000011124  17285.0  2021-01
272595  Canada  2016A000011124  A000011124  24006.0  2021-04
288630  Canada  2016A000011124  A000011124  23962.0  2021-07
304665  Canada  2016A000011124  A000011124  20779.0  2021-10
320700  Canada  2016A000011124  A000011124  26018.0  2022-01

In [15]:
# Save provinces to separate dataframe, drop from original locations dataframe
provinces = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon', 'Northwest Territories', 'Nunavut']
EV_provinces_df = EV_locations_df[EV_locations_df.GEO.isin(provinces)]
EV_provinces_df

                          GEO        DGUID   Geo-ID   VALUE REF_DATE
1140     Prince Edward Island  2016A000211  A000211     0.0  2017-01
1797            New Brunswick  2016A000213  A000213     5.0  2017-01
2643                   Quebec  2016A000224  A000224  1247.0  2017-01
6594                  Ontario  2016A000235  A000235  1319.0  2017-01
8460                 Manitoba  2016A000246  A000246    10.0  2017-01
...                       ...          ...      ...     ...      ...
329160               Manitoba  2016A000246  A000246   201.0  2022-01
329871           Saskatchewan  2016A000247  A000247   130.0  2022-01
334092       British Columbia  2016A000259  A000259  6688.0  2022-01
336387                  Yukon  2016A000260  A000260     9.0  2022-01
336504  Northwest Territories  2016A000261  A000261     8.0  2022-01

[189 rows x 5 columns]

## Save the registrations by province grouping for later visualizations

In [16]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/EV_registrations_provinces.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
EV_provinces_df.to_csv(filepath)

In [17]:
# Drop rows for Canada and each Province/Territory, save to EV_cities_df
EV_cities_df = EV_locations_df.loc[(EV_locations_df.GEO.values != "Canada") & (~EV_locations_df["GEO"].isin(provinces))]
EV_cities_df

,GEO,DGUID,Geo-ID,VALUE,REF_DATE
2646,"Campbellton, Quebec part",2016S050624330,S050624330,0.0,2017-01
2655,"Matane, Quebec",2016S0504403,S0504403,2.0,2017-01
2670,"Rimouski, Quebec",2016S0504404,S0504404,8.0,2017-01
2688,"Rivière-du-Loup, Quebec",2016S0504405,S0504405,5.0,2017-01
2709,"Baie-Comeau, Quebec",2016S0504406,S0504406,3.0,2017-01
...,...,...,...,...,...
336621,Lutselk'e,2016A00056105020,A00056105020,0.0,2022-01
336624,Reliance,2016A00056105026,A00056105026,0.0,2022-01
336627,"Region 5, Unorganized",2016A00056105097,A00056105097,0.0,2022-01
336630,Detah,2016A00056106021,A00056106021,0.0,2022-01
336633,"Region 6, Unorganized",2016A00056106097,A00056106097,0.0,2022-01

# Save registrations grouped by city for use in ML model

In [18]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/EV_registrations_cities.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
EV_cities_df.to_csv(filepath)

## Clean the EV charging station locations

In [19]:
# Read in the stations dataset, set index as column 0
stations_data = pd.read_csv(EV_stations_raw, low_memory=False, index_col=0)
stations_data

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,ELEC,Ramada,1319 2nd St W,NaN,Brooks,AB,T1R 1P7,NaN,403-362-6440,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,ELEC,Davis Chevrolet,149 E Lake Crescent NE,NaN,Airdrie,AB,T4A 2H9,NaN,403-948-6909,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,ELEC,Go Nissan South,1275 101 St SW,NaN,Edmonton,AB,T6X 1A1,NaN,780-463-5700,T,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,ELEC,Don Wheaton Chevrolet,10727 - 82 Ave,NaN,Edmonton,AB,T6E 2B1,NaN,NaN,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,ELEC,Gasonic Instruments,8-823 41st Ave NE,NaN,Calgary,AB,T2E 6Y3,NaN,403-276-2201,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8954,ELEC,City_of_Penticton,171 main street,NaN,Penticton,BC,V2A 5A9,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,ELEC,13601 Glenoaks blvd,13601 Glenoaks blvd,NaN,Los Angeles,CA,91342,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,ELEC,6723 Van Nuys blvd,6723 Van Nuys Blvd,NaN,Los Angeles,CA,91405,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8957,ELEC,12225 Grenet,12225 Rue Grenet,NaN,Montréal,QC,H4J 2N7,NaN,855-999-8378,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8958,ELEC,Ville de la Prairie - Église de La Nativité de...,155 Chemin de Saint-Jean,NaN,La Prairie,QC,J5R 2J9,NaN,855-999-8378,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Save relevant columns to new stations_df DataFrame
stations_df = stations_data[["ID", "Fuel Type Code", "City", "State", "Country", "ZIP", "Status Code"]].copy()
stations_df.head()

      ID Fuel Type Code      City State Country      ZIP Status Code
0  82833           ELEC    Brooks    AB      CA  T1R 1P7           E
1  82834           ELEC   Airdrie    AB      CA  T4A 2H9           E
2  82835           ELEC  Edmonton    AB      CA  T6X 1A1           T
3  82836           ELEC  Edmonton    AB      CA  T6E 2B1           E
4  82837           ELEC   Calgary    AB      CA  T2E 6Y3           E

In [21]:
# Rename State column to Province column
stations_df = stations_df.rename(columns={"State": "Province"})
stations_df.head()

      ID Fuel Type Code      City Province Country      ZIP Status Code
0  82833           ELEC    Brooks       AB      CA  T1R 1P7           E
1  82834           ELEC   Airdrie       AB      CA  T4A 2H9           E
2  82835           ELEC  Edmonton       AB      CA  T6X 1A1           T
3  82836           ELEC  Edmonton       AB      CA  T6E 2B1           E
4  82837           ELEC   Calgary       AB      CA  T2E 6Y3           E

In [22]:
# Check data types of columns
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8959 entries, 0 to 8958
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              8959 non-null   int64
 1   Fuel Type Code  8959 non-null   object
 2   City            8959 non-null   object
 3   Province        8959 non-null   object
 4   Country         8959 non-null   object
 5   ZIP             8958 non-null   object
 6   Status Code     8959 non-null   object
dtypes: int64(1), object(6)
memory usage: 559.9+ KB

In [23]:
# Check data for missing values
stations_df.isnull().sum()

ID                0
Fuel Type Code    0
City              0
Province          0
Country           0
ZIP               1
Status Code       0
dtype: int64

In [24]:
# Drop rows with missing values
stations_df = stations_df.dropna()

In [25]:
# Check the number of unique values for each column to confirm all rows are Country=Canada
stations_df.nunique()

ID                8958
Fuel Type Code       6
City              1865
Province            14
Country              1
ZIP               6841
Status Code          3
dtype: int64

In [26]:
# Get value counts for each value in "State" column to confirm all canadian provinces and territories
stations_df["Province"].value_counts()

QC    3551
ON    2515
BC    1592
AB     510
NB     165
NS     154
SK     149
MB     147
PE      71
NL      61
YT      37
NT       3
CA       2
OH       1
Name: Province, dtype: int64

In [27]:
# View rows of stations where Province = "OH" or "CA"
stations_df.loc[(stations_df.Province.values == "OH") | (stations_df.Province.values == "CA")]

          ID Fuel Type Code         City Province Country      ZIP Status Code
7133  194299           ELEC       Guelph       OH      CA  N1K 1X3           E
8955  223527           ELEC  Los Angeles       CA      CA    91342           E
8956  223530           ELEC  Los Angeles       CA      CA    91405           E

In [28]:
# Remove rows where Province = "CA"
stations_cleaned_df = stations_df.loc[stations_df.Province.values != "CA"]
# Confirm new value counts
stations_cleaned_df["Province"].value_counts()

QC    3551
ON    2515
BC    1592
AB     510
NB     165
NS     154
SK     149
MB     147
PE      71
NL      61
YT      37
NT       3
OH       1
Name: Province, dtype: int64

In [29]:
# Replace miscoded value of "OH" with "ON" 
stations_cleaned_df = stations_cleaned_df.replace(to_replace="OH",
                            value="ON")
# Confirm new value counts
stations_cleaned_df["Province"].value_counts()

QC    3551
ON    2516
BC    1592
AB     510
NB     165
NS     154
SK     149
MB     147
PE      71
NL      61
YT      37
NT       3
Name: Province, dtype: int64

In [30]:
# Filter for Electric fuel type
stations_cleaned_df = stations_cleaned_df[stations_cleaned_df["Fuel Type Code"] == "ELEC"]
stations_cleaned_df.sample(10)

,ID,Fuel Type Code,City,Province,Country,ZIP,Status Code
3654,130648,ELEC,Montréal,QC,CA,H3M 2T1,E
7010,191633,ELEC,Summerside,PE,CA,C1N 3X9,E
7047,192920,ELEC,Rivière-Héva,QC,CA,J0Y 2H0,E
3845,130859,ELEC,Montréal,QC,CA,H1G 2J6,E
7886,206870,ELEC,Waterloo,ON,CA,N2J 4A8,E
2409,117210,ELEC,Vancouver,BC,CA,V6E 3X1,E
1053,84851,ELEC,Georgina,ON,CA,L4P 3E9,E
3940,130960,ELEC,Ste-Sophie,QC,CA,J5J 2P6,E
4268,131320,ELEC,Dolbeau,QC,CA,G8L 1G7,E
6919,190018,ELEC,Summerside,PE,CA,C1N 2A9,E

## Save the station locations

In [31]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/EV_stations_locations.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
stations_cleaned_df.to_csv(filepath)

In [32]:
stations_cleaned_df

,ID,Fuel Type Code,City,Province,Country,ZIP,Status Code
0,82833,ELEC,Brooks,AB,CA,T1R 1P7,E
1,82834,ELEC,Airdrie,AB,CA,T4A 2H9,E
2,82835,ELEC,Edmonton,AB,CA,T6X 1A1,T
3,82836,ELEC,Edmonton,AB,CA,T6E 2B1,E
4,82837,ELEC,Calgary,AB,CA,T2E 6Y3,E
...,...,...,...,...,...,...,...
8952,223523,ELEC,Québec,QC,CA,G1V 1T2,E
8953,223524,ELEC,Rocky Mountain House,AB,CA,T4T 1A6,E
8954,223525,ELEC,Penticton,BC,CA,V2A 5A9,E
8957,223532,ELEC,Montréal,QC,CA,H4J 2N7,E
8958,223533,ELEC,La Prairie,QC,CA,J5R 2J9,E

In [33]:
EV_cities_df

,GEO,DGUID,Geo-ID,VALUE,REF_DATE
2646,"Campbellton, Quebec part",2016S050624330,S050624330,0.0,2017-01
2655,"Matane, Quebec",2016S0504403,S0504403,2.0,2017-01
2670,"Rimouski, Quebec",2016S0504404,S0504404,8.0,2017-01
2688,"Rivière-du-Loup, Quebec",2016S0504405,S0504405,5.0,2017-01
2709,"Baie-Comeau, Quebec",2016S0504406,S0504406,3.0,2017-01
...,...,...,...,...,...
336621,Lutselk'e,2016A00056105020,A00056105020,0.0,2022-01
336624,Reliance,2016A00056105026,A00056105026,0.0,2022-01
336627,"Region 5, Unorganized",2016A00056105097,A00056105097,0.0,2022-01
336630,Detah,2016A00056106021,A00056106021,0.0,2022-01
336633,"Region 6, Unorganized",2016A00056106097,A00056106097,0.0,2022-01

## Clean the population dataset

In [34]:
# Read in the population dataset file
population_df = pd.read_csv(population_raw, index_col=0)
# Confirm file is read to DataFrame correctly
population_df.head(10)

,REF_DATE,GEO,DGUID,Coordinate,"Population and dwelling counts (13): Population, 2021 [1]",Symbols,"Population and dwelling counts (13): Population, 2016 [2]",Symbols.1,"Population and dwelling counts (13): Population percentage change, 2016 to 2021 [3]",Symbols.2,...,"Population and dwelling counts (13): Private dwellings occupied by usual residents percentage change, 2016 to 2021 [9]",Symbols.8,"Population and dwelling counts (13): Land area in square kilometres, 2021 [10]",Symbols.9,"Population and dwelling counts (13): Population density per square kilometre, 2021 [11]",Symbols.10,"Population and dwelling counts (13): National population rank, 2021 [12]",Symbols.11,"Population and dwelling counts (13): Province/territory population rank, 2021 [13]",Symbols.12
0,2021,Canada,2021A000011124,1,36991981.0,NaN,35151728.0,NaN,5.2,NaN,...,6.4,NaN,8788702.80,NaN,4.2,NaN,NaN,...,NaN,...
1,2021,Newfoundland and Labrador,2021A000210,2,510550.0,NaN,519716.0,NaN,-1.8,NaN,...,2.1,NaN,358170.37,NaN,1.4,NaN,NaN,...,NaN,...
2,2021,Division No. 1,2021A00031001,3,271878.0,NaN,270348.0,NaN,0.6,NaN,...,4.0,NaN,9104.58,NaN,29.9,NaN,27.0,NaN,1.0,NaN
3,2021,Admirals Beach,2021A00051001186,4,97.0,NaN,135.0,NaN,-28.1,NaN,...,-22.6,NaN,24.20,NaN,4.0,NaN,4267.0,NaN,325.0,NaN
4,2021,Aquaforte,2021A00051001144,5,74.0,NaN,80.0,NaN,-7.5,NaN,...,4.9,NaN,6.88,NaN,10.7,NaN,4387.0,NaN,339.0,NaN
5,2021,Arnold's Cove,2021A00051001270,6,964.0,NaN,949.0,NaN,1.6,NaN,...,10.7,NaN,5.25,NaN,183.8,NaN,2155.0,NaN,79.0,NaN
6,2021,Avondale,2021A00051001464,7,584.0,NaN,641.0,NaN,-8.9,NaN,...,-2.7,NaN,29.69,NaN,19.7,NaN,2741.0,NaN,130.0,NaN
7,2021,Bauline,2021A00051001512,8,412.0,NaN,452.0,NaN,-8.8,NaN,...,-1.2,NaN,16.05,NaN,25.7,NaN,3140.0,NaN,178.0,NaN
8,2021,Bay Bulls,2021A00051001557,9,1566.0,NaN,1500.0,NaN,4.4,NaN,...,5.5,NaN,30.60,NaN,51.2,NaN,1624.0,NaN,55.0,NaN
9,2021,Bay Roberts,2021A00051001409,10,5974.0,NaN,6012.0,NaN,-0.6,NaN,...,3.2,NaN,24.51,NaN,243.7,NaN,651.0,NaN,14.0,NaN

In [35]:
# Check shape of the population DataFrame
population_df.shape

(5468, 30)

In [36]:
# Check columns of population DataFrame
population_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Coordinate',
       'Population and dwelling counts (13): Population, 2021 [1]', 'Symbols',
       'Population and dwelling counts (13): Population, 2016 [2]',
       'Symbols.1',
       'Population and dwelling counts (13): Population percentage change, 2016 to 2021 [3]',
       'Symbols.2',
       'Population and dwelling counts (13): Total private dwellings, 2021 [4]',
       'Symbols.3',
       'Population and dwelling counts (13): Total private dwellings, 2016 [5]',
       'Symbols.4',
       'Population and dwelling counts (13): Total private dwellings percentage change, 2016 to 2021 [6]',
       'Symbols.5',
       'Population and dwelling counts (13): Private dwellings occupied by usual residents, 2021 [7]',
       'Symbols.6',
       'Population and dwelling counts (13): Private dwellings occupied by usual residents, 2016 [8]',
       'Symbols.7',
       'Population and dwelling counts (13): Private dwellings occupied by usual residents percentage change, 2016 to 2021 [9]',
       'Symbols.8',
       'Population and dwelling counts (13): Land area in square kilometres, 2021 [10]',
       'Symbols.9',
       'Population and dwelling counts (13): Population density per square kilometre, 2021 [11]',
       'Symbols.10',
       'Population and dwelling counts (13): National population rank, 2021 [12]',
       'Symbols.11',
       'Population and dwelling counts (13): Province/territory population rank, 2021 [13]',
       'Symbols.12'],
      dtype='object')

In [37]:
# Save relevant columns to new dataframe
total_population_df = population_df[["GEO", "DGUID", "Population and dwelling counts (13): Population, 2021 [1]", "Population and dwelling counts (13): Land area in square kilometres, 2021 [10]"]]
total_population_df.head(10)

,GEO,DGUID,"Population and dwelling counts (13): Population, 2021 [1]","Population and dwelling counts (13): Land area in square kilometres, 2021 [10]"
0,Canada,2021A000011124,36991981.0,8788702.80
1,Newfoundland and Labrador,2021A000210,510550.0,358170.37
2,Division No. 1,2021A00031001,271878.0,9104.58
3,Admirals Beach,2021A00051001186,97.0,24.20
4,Aquaforte,2021A00051001144,74.0,6.88
5,Arnold's Cove,2021A00051001270,964.0,5.25
6,Avondale,2021A00051001464,584.0,29.69
7,Bauline,2021A00051001512,412.0,16.05
8,Bay Bulls,2021A00051001557,1566.0,30.60
9,Bay Roberts,2021A00051001409,5974.0,24.51

In [38]:
# Rename columns for readability
total_population_df = total_population_df.rename(columns={"DGUID": "City_ID",
                                    "Population and dwelling counts (13): Population, 2021 [1]": "Population 2021",
                                    "Population and dwelling counts (13): Land area in square kilometres, 2021 [10]": "Land Area (sqKM)",
                                    "GEO": "City"})
total_population_df.sample(5)

,City,City_ID,Population 2021,Land Area (sqKM)
4562,Sexsmith,2021A00054819014,2427.0,13.01
2429,Stirling-Rawdon,2021A00053512020,5015.0,282.48
1607,Saint-François-Xavier-de-Brompton,2021A00052442020,2469.0,97.71
2062,Campbell's Bay,2021A00052484030,705.0,3.42
165,"Division No. 4, Subd. B",2021A00051004006,1140.0,1809.34

In [39]:
# Drop the rows for Canada and Provincial Totals
total_population_df = total_population_df.loc[(total_population_df.City.values != "Canada") & (~total_population_df["City"].isin(provinces))]
total_population_df.head()

              City           City_ID  Population 2021  Land Area (sqKM)
2  Division No.  1     2021A00031001         271878.0           9104.58
3   Admirals Beach  2021A00051001186             97.0             24.20
4        Aquaforte  2021A00051001144             74.0              6.88
5    Arnold's Cove  2021A00051001270            964.0              5.25
6         Avondale  2021A00051001464            584.0             29.69

In [40]:
total_population_df["Location_ID"] = [x[9:11] for x in total_population_df["City_ID"]]
total_population_df.sample(10)

,City,City_ID,Population 2021,Land Area (sqKM),Location_ID
3054,Dog Creek 46,2021A00054618055,899.0,54.48,46
766,Southesk,2021A00051309026,1666.0,2462.60,13
1529,Mont-Saint-Grégoire,2021A00052456097,3136.0,79.83,24
5197,Seaichem 16,2021A00055931806,15.0,0.03,59
564,Pennal 19,2021A00051206014,30.0,0.44,12
316,Triton,2021A00051008054,896.0,7.54,10
1043,Beaumont,2021A00052419105,2968.0,44.57,24
1323,Sainte-Cécile-de-Milton,2021A00052447055,2195.0,72.96,24
1730,Saint-Adolphe-d'Howard,2021A00052477065,3824.0,135.80,24
4122,Weyakwin,2021A00054718015,100.0,5.27,47

In [41]:
# Translate Location_ID to Province name
# Save key value pairs for Province name and ID
prov_code = {"10": "Newfoundland and Labrador",
            "11": "Prince Edward Island",
            "12": "Nova Scotia",
            "13": "New Brunswick",
            "24": "Quebec",
            "35": "Ontario",
            "46": "Manitoba",
            "47": "Saskatchewan",
            "48": "Alberta",
            "59": "British Columbia",
            "60": "Yukon",
            "61": "Northwest Territories",
            "62": "Nunavut"}

total_population_df["Province"] = total_population_df["Location_ID"].map(prov_code)
total_population_df.sample(5)

,City,City_ID,Population 2021,Land Area (sqKM),Location_ID,Province
490,"Annapolis, Subd. A",2021A00051205004,5980.0,612.44,12,Nova Scotia
4163,Glenwood,2021A00054803006,272.0,1.37,48,Alberta
4171,Pincher Creek No. 9,2021A00054803011,3240.0,3455.75,48,Alberta
5188,Mission 5,2021A00055931833,19.0,0.26,59,British Columbia
446,Alexandra,2021A00051102013,252.0,10.35,11,Prince Edward Island

In [42]:
# Drop extra column Location_ID 
total_population_df = total_population_df.drop(columns="Location_ID")
total_population_df.sample(5)

,City,City_ID,Population 2021,Land Area (sqKM),Province
1100,Bécancour,2021A00052438010,13561.0,439.54,Quebec
3299,Eastend,2021A00054704026,607.0,2.61,Saskatchewan
4574,Alberni-Clayoquot D,2021A00055923035,1843.0,1398.89,British Columbia
1031,Saint-Éphrem-de-Beauce,2021A00052429112,2323.0,118.90,Quebec
3676,Big Arm No. 251,2021A00054711006,184.0,689.35,Saskatchewan

In [43]:
# Reorder the columns
total_population_df = total_population_df[["City", "Province", "City_ID", "Population 2021", "Land Area (sqKM)"]]
total_population_df

,City,Province,City_ID,Population 2021,Land Area (sqKM)
2,Division No. 1,Newfoundland and Labrador,2021A00031001,271878.0,9104.58
3,Admirals Beach,Newfoundland and Labrador,2021A00051001186,97.0,24.20
4,Aquaforte,Newfoundland and Labrador,2021A00051001144,74.0,6.88
5,Arnold's Cove,Newfoundland and Labrador,2021A00051001270,964.0,5.25
6,Avondale,Newfoundland and Labrador,2021A00051001464,584.0,29.69
...,...,...,...,...,...
5463,Pond Inlet,Nunavut,2021A00056204020,1555.0,170.83
5464,"Qikiqtaaluk, Unorganized",Nunavut,2021A00056204030,0.0,968988.38
5465,Qikiqtarjuaq,Nunavut,2021A00056204010,593.0,130.80
5466,Resolute,Nunavut,2021A00056204022,183.0,115.02
5467,Sanikiluaq,Nunavut,2021A00056204001,1010.0,109.68

In [44]:
# Reset the index
total_population_df.reset_index(drop=True)

,City,Province,City_ID,Population 2021,Land Area (sqKM)
0,Division No. 1,Newfoundland and Labrador,2021A00031001,271878.0,9104.58
1,Admirals Beach,Newfoundland and Labrador,2021A00051001186,97.0,24.20
2,Aquaforte,Newfoundland and Labrador,2021A00051001144,74.0,6.88
3,Arnold's Cove,Newfoundland and Labrador,2021A00051001270,964.0,5.25
4,Avondale,Newfoundland and Labrador,2021A00051001464,584.0,29.69
...,...,...,...,...,...
5448,Pond Inlet,Nunavut,2021A00056204020,1555.0,170.83
5449,"Qikiqtaaluk, Unorganized",Nunavut,2021A00056204030,0.0,968988.38
5450,Qikiqtarjuaq,Nunavut,2021A00056204010,593.0,130.80
5451,Resolute,Nunavut,2021A00056204022,183.0,115.02
5452,Sanikiluaq,Nunavut,2021A00056204001,1010.0,109.68

## Save the table to csv file

In [45]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/City_populations.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
total_population_df.to_csv(filepath)

## Clean the Income Data

In [46]:
# Read in the data
income_df = pd.read_csv(income_raw, encoding="latin-1")
income_df.head(5)

,REF_DATE,GEO,DGUID,Age (11),Gender (3a),Total income groups (24),Year (2),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2021,Canada,2021A000011124,Total - Age,Total - Gender,Median total income ($),2020,NaN,0,units,0,NaN,1.1.1.24.1,41200,NaN,NaN,NaN,0
1,2021,Newfoundland and Labrador,2021A000210,Total - Age,Total - Gender,Median total income ($),2020,NaN,0,units,0,NaN,2.1.1.24.1,36800,NaN,NaN,NaN,0
2,2021,"Corner Brook (CA), N.L.",2021S0504015,Total - Age,Total - Gender,Median total income ($),2020,NaN,0,units,0,NaN,3.1.1.24.1,37600,NaN,NaN,NaN,0
3,2021,"Gander (CA), N.L.",2021S0504011,Total - Age,Total - Gender,Median total income ($),2020,NaN,0,units,0,NaN,4.1.1.24.1,40000,NaN,NaN,NaN,0
4,2021,"Grand Falls-Windsor (CA), N.L.",2021S0504010,Total - Age,Total - Gender,Median total income ($),2020,NaN,0,units,0,NaN,5.1.1.24.1,35600,NaN,NaN,NaN,0

In [47]:
# Drop unnecessary columns
income_df = income_df.drop(columns=["REF_DATE", "Age (11)", 'Gender (3a)', 'Total income groups (24)', 'Year (2)', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'])
income_df.head()

                              GEO           DGUID  VALUE
0                          Canada  2021A000011124  41200
1       Newfoundland and Labrador     2021A000210  36800
2         Corner Brook (CA), N.L.    2021S0504015  37600
3               Gander (CA), N.L.    2021S0504011  40000
4  Grand Falls-Windsor (CA), N.L.    2021S0504010  35600

In [48]:
# Rename the columns
income_df = income_df.rename(columns={"GEO": "City",
                                        "DGUID": "City_ID",
                                        "VALUE": "Median_Income($)"})
income_df.head()

                             City         City_ID  Median_Income($)
0                          Canada  2021A000011124             41200
1       Newfoundland and Labrador     2021A000210             36800
2         Corner Brook (CA), N.L.    2021S0504015             37600
3               Gander (CA), N.L.    2021S0504011             40000
4  Grand Falls-Windsor (CA), N.L.    2021S0504010             35600

In [49]:
# Split City column by delimiters
income_df[["City","Province"]] = income_df.City.str.split(',',expand=True)
income_df

                          City         City_ID  Median_Income($) Province
0                       Canada  2021A000011124             41200     None
1    Newfoundland and Labrador     2021A000210             36800     None
2            Corner Brook (CA)    2021S0504015             37600     N.L.
3                  Gander (CA)    2021S0504011             40000     N.L.
4     Grand Falls-Windsor (CA)    2021S0504010             35600     N.L.
..                         ...             ...               ...      ...
169                      Yukon     2021A000260             54800     None
170            Whitehorse (CA)    2021S0504990             58400     Y.T.
171      Northwest Territories     2021A000261             56800     None
172           Yellowknife (CA)    2021S0504995             72000   N.W.T.
173                    Nunavut     2021A000262             37600     None

[174 rows x 4 columns]

In [50]:
provincial_income = income_df[income_df["Province"].isnull()]
provincial_income

                          City         City_ID  Median_Income($) Province
0                       Canada  2021A000011124             41200     None
1    Newfoundland and Labrador     2021A000210             36800     None
6         Prince Edward Island     2021A000211             38800     None
9                  Nova Scotia     2021A000212             38000     None
15               New Brunswick     2021A000213             37600     None
25                      Quebec     2021A000224             40800     None
55                     Ontario     2021A000235             41200     None
103                   Manitoba     2021A000246             39200     None
110               Saskatchewan     2021A000247             42400     None
120                    Alberta     2021A000248             44800     None
140           British Columbia     2021A000259             40800     None
169                      Yukon     2021A000260             54800     None
171      Northwest Territories     2021A000261             56800     None
173                    Nunavut     2021A000262             37600     None

In [51]:
provincial_income = provincial_income.drop(columns="Province")

In [52]:
provincial_income = provincial_income.reset_index(drop=True)

In [53]:
provincial_income = provincial_income.rename(columns={"City": "Province"})
provincial_income

                     Province         City_ID  Median_Income($)
0                      Canada  2021A000011124             41200
1   Newfoundland and Labrador     2021A000210             36800
2        Prince Edward Island     2021A000211             38800
3                 Nova Scotia     2021A000212             38000
4               New Brunswick     2021A000213             37600
5                      Quebec     2021A000224             40800
6                     Ontario     2021A000235             41200
7                    Manitoba     2021A000246             39200
8                Saskatchewan     2021A000247             42400
9                     Alberta     2021A000248             44800
10           British Columbia     2021A000259             40800
11                      Yukon     2021A000260             54800
12      Northwest Territories     2021A000261             56800
13                    Nunavut     2021A000262             37600

In [54]:
city_income_df = income_df[income_df["Province"].notnull()]

In [55]:
city_income_df

                         City       City_ID  Median_Income($) Province
2           Corner Brook (CA)  2021S0504015             37600     N.L.
3                 Gander (CA)  2021S0504011             40000     N.L.
4    Grand Falls-Windsor (CA)  2021S0504010             35600     N.L.
5            St. John's (CMA)  2021S0503001             42800     N.L.
7          Charlottetown (CA)  2021S0504105             39600   P.E.I.
..                        ...           ...               ...      ...
166               Vernon (CA)  2021S0504918             40000     B.C.
167            Victoria (CMA)  2021S0503935             45600     B.C.
168        Williams Lake (CA)  2021S0504950             40400     B.C.
170           Whitehorse (CA)  2021S0504990             58400     Y.T.
172          Yellowknife (CA)  2021S0504995             72000   N.W.T.

[160 rows x 4 columns]

In [56]:
city_income_df[["City", "City_classification"]] = city_income_df.City.str.split('(', n=1, expand=True)
city_income_df

C:\Users\merri\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,City,City_ID,Median_Income($),Province,City_classification
2,Corner Brook,2021S0504015,37600,N.L.,CA)
3,Gander,2021S0504011,40000,N.L.,CA)
4,Grand Falls-Windsor,2021S0504010,35600,N.L.,CA)
5,St. John's,2021S0503001,42800,N.L.,CMA)
7,Charlottetown,2021S0504105,39600,P.E.I.,CA)
...,...,...,...,...,...
166,Vernon,2021S0504918,40000,B.C.,CA)
167,Victoria,2021S0503935,45600,B.C.,CMA)
168,Williams Lake,2021S0504950,40400,B.C.,CA)
170,Whitehorse,2021S0504990,58400,Y.T.,CA)
172,Yellowknife,2021S0504995,72000,N.W.T.,CA)

In [57]:
# Drop city_classification column
city_income_df = city_income_df.drop(columns="City_classification")
city_income_df.head()

                   City       City_ID  Median_Income($) Province
2         Corner Brook   2021S0504015             37600     N.L.
3               Gander   2021S0504011             40000     N.L.
4  Grand Falls-Windsor   2021S0504010             35600     N.L.
5           St. John's   2021S0503001             42800     N.L.
7        Charlottetown   2021S0504105             39600   P.E.I.

In [58]:
city_income_df.loc[city_income_df['Province'].str.contains('N.L.'), 'Province'] = "Newfoundland and Labrador"
city_income_df.loc[city_income_df['Province'].str.contains('P.E.I.'), 'Province'] = "Prince Edward Island"
city_income_df.loc[city_income_df['Province'].str.contains('N.S.'), 'Province'] = "Nova Scotia"
city_income_df.loc[city_income_df['Province'].str.contains('N.B.'), 'Province'] = "New Brunswick"
city_income_df.loc[city_income_df['Province'].str.contains('Que.'), 'Province'] = "Quebec"
city_income_df.loc[city_income_df['Province'].str.contains('Ont.'), 'Province'] = "Ontario"
city_income_df.loc[city_income_df['Province'].str.contains('Man.'), 'Province'] = "Manitoba"
city_income_df.loc[city_income_df['Province'].str.contains('Sask.'), 'Province'] = "Saskatchewan"
city_income_df.loc[city_income_df['Province'].str.contains('Alta.'), 'Province'] = "Alberta"
city_income_df.loc[city_income_df['Province'].str.contains('B.C.'), 'Province'] = "British Columbia"
city_income_df.loc[city_income_df['Province'].str.contains('Y.T.'), 'Province'] = "Yukon"

city_income_df.head()

,City,City_ID,Median_Income($),Province
2,Corner Brook,2021S0504015,37600,Newfoundland and Labrador
3,Gander,2021S0504011,40000,Newfoundland and Labrador
4,Grand Falls-Windsor,2021S0504010,35600,Newfoundland and Labrador
5,St. John's,2021S0503001,42800,Newfoundland and Labrador
7,Charlottetown,2021S0504105,39600,Prince Edward Island

In [59]:
# Reset the index
city_income_df.reset_index(drop=True)

,City,City_ID,Median_Income($),Province
0,Corner Brook,2021S0504015,37600,Newfoundland and Labrador
1,Gander,2021S0504011,40000,Newfoundland and Labrador
2,Grand Falls-Windsor,2021S0504010,35600,Newfoundland and Labrador
3,St. John's,2021S0503001,42800,Newfoundland and Labrador
4,Charlottetown,2021S0504105,39600,Prince Edward Island
...,...,...,...,...
155,Vernon,2021S0504918,40000,British Columbia
156,Victoria,2021S0503935,45600,British Columbia
157,Williams Lake,2021S0504950,40400,British Columbia
158,Whitehorse,2021S0504990,58400,Yukon
159,Yellowknife,2021S0504995,72000,N.W.T.

In [60]:
# Reorder the columns
city_income_df = city_income_df[["City", "Province", "City_ID", "Median_Income($)"]]
city_income_df

,City,Province,City_ID,Median_Income($)
2,Corner Brook,Newfoundland and Labrador,2021S0504015,37600
3,Gander,Newfoundland and Labrador,2021S0504011,40000
4,Grand Falls-Windsor,Newfoundland and Labrador,2021S0504010,35600
5,St. John's,Newfoundland and Labrador,2021S0503001,42800
7,Charlottetown,Prince Edward Island,2021S0504105,39600
...,...,...,...,...
166,Vernon,British Columbia,2021S0504918,40000
167,Victoria,British Columbia,2021S0503935,45600
168,Williams Lake,British Columbia,2021S0504950,40400
170,Whitehorse,Yukon,2021S0504990,58400
172,Yellowknife,N.W.T.,2021S0504995,72000

## Save median city income and median provincial income for later reference

In [61]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/provincial_income.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
provincial_income.to_csv(filepath)

In [62]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/city_income.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
city_income_df.to_csv(filepath)

## Clean Unemployment Table

In [63]:
# Read in the dataset
unemployment_df = pd.read_csv(unemployment_raw)
unemployment_df.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,Statistics,Data type,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE
0,Dec-20,Canada,2016A000011124,Unemployment rate,Estimate,Seasonally adjusted,Percentage,242,units,0,v91445772,1.5.1.1,8.7
1,Dec-20,Newfoundland and Labrador,2016A000210,Unemployment rate,Estimate,Seasonally adjusted,Percentage,242,units,0,v91445786,2.5.1.1,12.5
2,Dec-20,"St. John's, Newfoundland and Labrador",2011S0503001,Unemployment rate,Estimate,Seasonally adjusted,Percentage,242,units,0,v91445800,3.5.1.1,8.7
3,Dec-20,Prince Edward Island,2016A000211,Unemployment rate,Estimate,Seasonally adjusted,Percentage,242,units,0,v91445814,4.5.1.1,10.1
4,Dec-20,Nova Scotia,2016A000212,Unemployment rate,Estimate,Seasonally adjusted,Percentage,242,units,0,v91445828,5.5.1.1,7.9

In [64]:
unemployment_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Labour force characteristics',
       'Statistics', 'Data type', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE'],
      dtype='object')

In [65]:
# Drop unnecessary columns
unemployment_df = unemployment_df.drop(columns=["REF_DATE", 'Labour force characteristics',
       'Statistics', 'Data type','UOM','UOM_ID', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE'])

unemployment_df.head()

                                     GEO           DGUID  VALUE
0                                 Canada  2016A000011124    8.7
1              Newfoundland and Labrador     2016A000210   12.5
2  St. John's, Newfoundland and Labrador    2011S0503001    8.7
3                   Prince Edward Island     2016A000211   10.1
4                            Nova Scotia     2016A000212    7.9

In [66]:
# Rename columns
unemployment_df = unemployment_df.rename(columns={"GEO": "City",
                                        "DGUID": "City_ID",
                                        "VALUE": "Unemployment_rate(%)"})
unemployment_df.head()

                                    City         City_ID  Unemployment_rate(%)
0                                 Canada  2016A000011124                   8.7
1              Newfoundland and Labrador     2016A000210                  12.5
2  St. John's, Newfoundland and Labrador    2011S0503001                   8.7
3                   Prince Edward Island     2016A000211                  10.1
4                            Nova Scotia     2016A000212                   7.9

In [67]:
# Split the City column by comma delimiter to save province info separate from City name
unemployment_df[["City","Province"]] = unemployment_df.City.str.split(',',n=1,expand=True)
unemployment_df

,City,City_ID,Unemployment_rate(%),Province
0,Canada,2016A000011124,8.7,None
1,Newfoundland and Labrador,2016A000210,12.5,None
2,St. John's,2011S0503001,8.7,Newfoundland and Labrador
3,Prince Edward Island,2016A000211,10.1,None
4,Nova Scotia,2016A000212,7.9,None
5,Halifax,2011S0503205,7.3,Nova Scotia
6,New Brunswick,2016A000213,9.6,None
7,Moncton,2011S0503305,9.0,New Brunswick
8,Saint John,2011S0503310,11.0,New Brunswick
9,Quebec,2016A000224,7.2,None
10,Saguenay,2011S0503408,5.7,Quebec
11,Québec,2011S0503421,4.1,Quebec
12,Sherbrooke,2011S0503433,6.0,Quebec
13,Trois-Rivières,2011S0503442,5.9,Quebec
14,Montréal,2011S0503462,8.1,Quebec
15,Ontario,2016A000235,9.4,None
16,Ottawa-Gatineau,2011S0503505,6.7,Ontario/Quebec
17,Ottawa-Gatineau,2011S050524505,7.0,"Quebec part, Ontario/Quebec"
18,Ottawa-Gatineau,2011S050535505,6.6,"Ontario part, Ontario/Quebec"
19,Kingston,2011S0503521,5.9,Ontario
20,Peterborough,2011S0503529,13.5,Ontario
21,Oshawa,2011S0503532,7.8,Ontario
22,Toronto,2011S0503535,10.7,Ontario
23,Hamilton,2011S0503537,8.1,Ontario
24,St. Catharines-Niagara,2011S0503539,9.1,Ontario
25,Kitchener-Cambridge-Waterloo,2011S0503541,8.5,Ontario
26,Brantford,2011S0503543,6.1,Ontario
27,Guelph,2011S0503550,5.8,Ontario
28,London,2011S0503555,7.7,Ontario
29,Windsor,2011S0503559,11.1,Ontario
30,Barrie,2011S0503568,12.1,Ontario
31,Greater Sudbury,2011S0503580,7.7,Ontario
32,Thunder Bay,2011S0503595,7.6,Ontario
33,Manitoba,2016A000246,7.6,None
34,Winnipeg,2011S0503602,8.4,Manitoba
35,Saskatchewan,2016A000247,7.0,None
36,Regina,2011S0503705,6.3,Saskatchewan
37,Saskatoon,2011S0503725,8.1,Saskatchewan
38,Alberta,2016A000248,10.9,None
39,Calgary,2011S0503825,10.4,Alberta
40,Edmonton,2011S0503835,11.1,Alberta
41,British Columbia,2016A000259,7.4,None
42,Kelowna,2011S0503915,4.5,British Columbia
43,Abbotsford-Mission,2011S0503932,8.4,British Columbia
44,Vancouver,2011S0503933,7.4,British Columbia
45,Victoria,2011S0503935,5.8,British Columbia

In [68]:
# Save provincial unemployment averages for later reference
prov_unemployment_df = unemployment_df[unemployment_df["Province"].isnull()]
prov_unemployment_df

                         City         City_ID  Unemployment_rate(%) Province
0                      Canada  2016A000011124                   8.7     None
1   Newfoundland and Labrador     2016A000210                  12.5     None
3        Prince Edward Island     2016A000211                  10.1     None
4                 Nova Scotia     2016A000212                   7.9     None
6               New Brunswick     2016A000213                   9.6     None
9                      Quebec     2016A000224                   7.2     None
15                    Ontario     2016A000235                   9.4     None
33                   Manitoba     2016A000246                   7.6     None
35               Saskatchewan     2016A000247                   7.0     None
38                    Alberta     2016A000248                  10.9     None
41           British Columbia     2016A000259                   7.4     None

In [69]:
# Reset index for provincial unemployment
prov_unemployment_df.reset_index(drop=True)

                         City         City_ID  Unemployment_rate(%) Province
0                      Canada  2016A000011124                   8.7     None
1   Newfoundland and Labrador     2016A000210                  12.5     None
2        Prince Edward Island     2016A000211                  10.1     None
3                 Nova Scotia     2016A000212                   7.9     None
4               New Brunswick     2016A000213                   9.6     None
5                      Quebec     2016A000224                   7.2     None
6                     Ontario     2016A000235                   9.4     None
7                    Manitoba     2016A000246                   7.6     None
8                Saskatchewan     2016A000247                   7.0     None
9                     Alberta     2016A000248                  10.9     None
10           British Columbia     2016A000259                   7.4     None

In [70]:
prov_unemployment_df = prov_unemployment_df.drop(columns="Province")
prov_unemployment_df

                         City         City_ID  Unemployment_rate(%)
0                      Canada  2016A000011124                   8.7
1   Newfoundland and Labrador     2016A000210                  12.5
3        Prince Edward Island     2016A000211                  10.1
4                 Nova Scotia     2016A000212                   7.9
6               New Brunswick     2016A000213                   9.6
9                      Quebec     2016A000224                   7.2
15                    Ontario     2016A000235                   9.4
33                   Manitoba     2016A000246                   7.6
35               Saskatchewan     2016A000247                   7.0
38                    Alberta     2016A000248                  10.9
41           British Columbia     2016A000259                   7.4

In [71]:
# Reorder the columns and rename
prov_unemployment_df = prov_unemployment_df.rename(columns={"City":"Province"})
prov_unemployment_df

                     Province         City_ID  Unemployment_rate(%)
0                      Canada  2016A000011124                   8.7
1   Newfoundland and Labrador     2016A000210                  12.5
3        Prince Edward Island     2016A000211                  10.1
4                 Nova Scotia     2016A000212                   7.9
6               New Brunswick     2016A000213                   9.6
9                      Quebec     2016A000224                   7.2
15                    Ontario     2016A000235                   9.4
33                   Manitoba     2016A000246                   7.6
35               Saskatchewan     2016A000247                   7.0
38                    Alberta     2016A000248                  10.9
41           British Columbia     2016A000259                   7.4

## Save provincial unemployment table

In [72]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/provincial_unemployment.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
prov_unemployment_df.to_csv(filepath)

In [73]:
# Save city unemployment without provincial average
city_unemployment_df = unemployment_df[unemployment_df["Province"].notnull()]
city_unemployment_df

,City,City_ID,Unemployment_rate(%),Province
2,St. John's,2011S0503001,8.7,Newfoundland and Labrador
5,Halifax,2011S0503205,7.3,Nova Scotia
7,Moncton,2011S0503305,9.0,New Brunswick
8,Saint John,2011S0503310,11.0,New Brunswick
10,Saguenay,2011S0503408,5.7,Quebec
11,Québec,2011S0503421,4.1,Quebec
12,Sherbrooke,2011S0503433,6.0,Quebec
13,Trois-Rivières,2011S0503442,5.9,Quebec
14,Montréal,2011S0503462,8.1,Quebec
16,Ottawa-Gatineau,2011S0503505,6.7,Ontario/Quebec
17,Ottawa-Gatineau,2011S050524505,7.0,"Quebec part, Ontario/Quebec"
18,Ottawa-Gatineau,2011S050535505,6.6,"Ontario part, Ontario/Quebec"
19,Kingston,2011S0503521,5.9,Ontario
20,Peterborough,2011S0503529,13.5,Ontario
21,Oshawa,2011S0503532,7.8,Ontario
22,Toronto,2011S0503535,10.7,Ontario
23,Hamilton,2011S0503537,8.1,Ontario
24,St. Catharines-Niagara,2011S0503539,9.1,Ontario
25,Kitchener-Cambridge-Waterloo,2011S0503541,8.5,Ontario
26,Brantford,2011S0503543,6.1,Ontario
27,Guelph,2011S0503550,5.8,Ontario
28,London,2011S0503555,7.7,Ontario
29,Windsor,2011S0503559,11.1,Ontario
30,Barrie,2011S0503568,12.1,Ontario
31,Greater Sudbury,2011S0503580,7.7,Ontario
32,Thunder Bay,2011S0503595,7.6,Ontario
34,Winnipeg,2011S0503602,8.4,Manitoba
36,Regina,2011S0503705,6.3,Saskatchewan
37,Saskatoon,2011S0503725,8.1,Saskatchewan
39,Calgary,2011S0503825,10.4,Alberta
40,Edmonton,2011S0503835,11.1,Alberta
42,Kelowna,2011S0503915,4.5,British Columbia
43,Abbotsford-Mission,2011S0503932,8.4,British Columbia
44,Vancouver,2011S0503933,7.4,British Columbia
45,Victoria,2011S0503935,5.8,British Columbia

In [74]:
# Special consideration for Ottawa-Gatineau as split between provinces
# save values for Quebec and Ontario parts separately and attribute the province accordingly
city_unemployment_df.loc[city_unemployment_df['Province'].str.contains('Quebec part'), 'Province'] = "Quebec"
city_unemployment_df.loc[city_unemployment_df['Province'].str.contains('Ontario part'), 'Province'] = "Ontario"

city_unemployment_df

C:\Users\merri\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,City,City_ID,Unemployment_rate(%),Province
2,St. John's,2011S0503001,8.7,Newfoundland and Labrador
5,Halifax,2011S0503205,7.3,Nova Scotia
7,Moncton,2011S0503305,9.0,New Brunswick
8,Saint John,2011S0503310,11.0,New Brunswick
10,Saguenay,2011S0503408,5.7,Quebec
11,Québec,2011S0503421,4.1,Quebec
12,Sherbrooke,2011S0503433,6.0,Quebec
13,Trois-Rivières,2011S0503442,5.9,Quebec
14,Montréal,2011S0503462,8.1,Quebec
16,Ottawa-Gatineau,2011S0503505,6.7,Ontario/Quebec
17,Ottawa-Gatineau,2011S050524505,7.0,Quebec
18,Ottawa-Gatineau,2011S050535505,6.6,Ontario
19,Kingston,2011S0503521,5.9,Ontario
20,Peterborough,2011S0503529,13.5,Ontario
21,Oshawa,2011S0503532,7.8,Ontario
22,Toronto,2011S0503535,10.7,Ontario
23,Hamilton,2011S0503537,8.1,Ontario
24,St. Catharines-Niagara,2011S0503539,9.1,Ontario
25,Kitchener-Cambridge-Waterloo,2011S0503541,8.5,Ontario
26,Brantford,2011S0503543,6.1,Ontario
27,Guelph,2011S0503550,5.8,Ontario
28,London,2011S0503555,7.7,Ontario
29,Windsor,2011S0503559,11.1,Ontario
30,Barrie,2011S0503568,12.1,Ontario
31,Greater Sudbury,2011S0503580,7.7,Ontario
32,Thunder Bay,2011S0503595,7.6,Ontario
34,Winnipeg,2011S0503602,8.4,Manitoba
36,Regina,2011S0503705,6.3,Saskatchewan
37,Saskatoon,2011S0503725,8.1,Saskatchewan
39,Calgary,2011S0503825,10.4,Alberta
40,Edmonton,2011S0503835,11.1,Alberta
42,Kelowna,2011S0503915,4.5,British Columbia
43,Abbotsford-Mission,2011S0503932,8.4,British Columbia
44,Vancouver,2011S0503933,7.4,British Columbia
45,Victoria,2011S0503935,5.8,British Columbia

In [75]:
# Remove conglomerated row for Ottawa-Gatineau which lists province as Ontario/Quebec
city_unemployment_df = city_unemployment_df.loc[city_unemployment_df["Province"] != " Ontario/Quebec"]

In [76]:
# Reorder the columns
city_unemployment_df = city_unemployment_df[["City", "Province", "City_ID", "Unemployment_rate(%)"]]
city_unemployment_df

,City,Province,City_ID,Unemployment_rate(%)
2,St. John's,Newfoundland and Labrador,2011S0503001,8.7
5,Halifax,Nova Scotia,2011S0503205,7.3
7,Moncton,New Brunswick,2011S0503305,9.0
8,Saint John,New Brunswick,2011S0503310,11.0
10,Saguenay,Quebec,2011S0503408,5.7
11,Québec,Quebec,2011S0503421,4.1
12,Sherbrooke,Quebec,2011S0503433,6.0
13,Trois-Rivières,Quebec,2011S0503442,5.9
14,Montréal,Quebec,2011S0503462,8.1
17,Ottawa-Gatineau,Quebec,2011S050524505,7.0
18,Ottawa-Gatineau,Ontario,2011S050535505,6.6
19,Kingston,Ontario,2011S0503521,5.9
20,Peterborough,Ontario,2011S0503529,13.5
21,Oshawa,Ontario,2011S0503532,7.8
22,Toronto,Ontario,2011S0503535,10.7
23,Hamilton,Ontario,2011S0503537,8.1
24,St. Catharines-Niagara,Ontario,2011S0503539,9.1
25,Kitchener-Cambridge-Waterloo,Ontario,2011S0503541,8.5
26,Brantford,Ontario,2011S0503543,6.1
27,Guelph,Ontario,2011S0503550,5.8
28,London,Ontario,2011S0503555,7.7
29,Windsor,Ontario,2011S0503559,11.1
30,Barrie,Ontario,2011S0503568,12.1
31,Greater Sudbury,Ontario,2011S0503580,7.7
32,Thunder Bay,Ontario,2011S0503595,7.6
34,Winnipeg,Manitoba,2011S0503602,8.4
36,Regina,Saskatchewan,2011S0503705,6.3
37,Saskatoon,Saskatchewan,2011S0503725,8.1
39,Calgary,Alberta,2011S0503825,10.4
40,Edmonton,Alberta,2011S0503835,11.1
42,Kelowna,British Columbia,2011S0503915,4.5
43,Abbotsford-Mission,British Columbia,2011S0503932,8.4
44,Vancouver,British Columbia,2011S0503933,7.4
45,Victoria,British Columbia,2011S0503935,5.8

In [77]:
city_unemployment_df = city_unemployment_df.reset_index(drop=True)
city_unemployment_df

,City,Province,City_ID,Unemployment_rate(%)
0,St. John's,Newfoundland and Labrador,2011S0503001,8.7
1,Halifax,Nova Scotia,2011S0503205,7.3
2,Moncton,New Brunswick,2011S0503305,9.0
3,Saint John,New Brunswick,2011S0503310,11.0
4,Saguenay,Quebec,2011S0503408,5.7
5,Québec,Quebec,2011S0503421,4.1
6,Sherbrooke,Quebec,2011S0503433,6.0
7,Trois-Rivières,Quebec,2011S0503442,5.9
8,Montréal,Quebec,2011S0503462,8.1
9,Ottawa-Gatineau,Quebec,2011S050524505,7.0
10,Ottawa-Gatineau,Ontario,2011S050535505,6.6
11,Kingston,Ontario,2011S0503521,5.9
12,Peterborough,Ontario,2011S0503529,13.5
13,Oshawa,Ontario,2011S0503532,7.8
14,Toronto,Ontario,2011S0503535,10.7
15,Hamilton,Ontario,2011S0503537,8.1
16,St. Catharines-Niagara,Ontario,2011S0503539,9.1
17,Kitchener-Cambridge-Waterloo,Ontario,2011S0503541,8.5
18,Brantford,Ontario,2011S0503543,6.1
19,Guelph,Ontario,2011S0503550,5.8
20,London,Ontario,2011S0503555,7.7
21,Windsor,Ontario,2011S0503559,11.1
22,Barrie,Ontario,2011S0503568,12.1
23,Greater Sudbury,Ontario,2011S0503580,7.7
24,Thunder Bay,Ontario,2011S0503595,7.6
25,Winnipeg,Manitoba,2011S0503602,8.4
26,Regina,Saskatchewan,2011S0503705,6.3
27,Saskatoon,Saskatchewan,2011S0503725,8.1
28,Calgary,Alberta,2011S0503825,10.4
29,Edmonton,Alberta,2011S0503835,11.1
30,Kelowna,British Columbia,2011S0503915,4.5
31,Abbotsford-Mission,British Columbia,2011S0503932,8.4
32,Vancouver,British Columbia,2011S0503933,7.4
33,Victoria,British Columbia,2011S0503935,5.8

## Save city unemployment table

In [78]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('Datasets/cleaned_datasets/city_unemployment.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
city_unemployment_df.to_csv(filepath)

## Begin merging tables to one master table

In [79]:
# View all dataframes for merging to locate common column headers
city_unemployment_df

,City,Province,City_ID,Unemployment_rate(%)
0,St. John's,Newfoundland and Labrador,2011S0503001,8.7
1,Halifax,Nova Scotia,2011S0503205,7.3
2,Moncton,New Brunswick,2011S0503305,9.0
3,Saint John,New Brunswick,2011S0503310,11.0
4,Saguenay,Quebec,2011S0503408,5.7
5,Québec,Quebec,2011S0503421,4.1
6,Sherbrooke,Quebec,2011S0503433,6.0
7,Trois-Rivières,Quebec,2011S0503442,5.9
8,Montréal,Quebec,2011S0503462,8.1
9,Ottawa-Gatineau,Quebec,2011S050524505,7.0
10,Ottawa-Gatineau,Ontario,2011S050535505,6.6
11,Kingston,Ontario,2011S0503521,5.9
12,Peterborough,Ontario,2011S0503529,13.5
13,Oshawa,Ontario,2011S0503532,7.8
14,Toronto,Ontario,2011S0503535,10.7
15,Hamilton,Ontario,2011S0503537,8.1
16,St. Catharines-Niagara,Ontario,2011S0503539,9.1
17,Kitchener-Cambridge-Waterloo,Ontario,2011S0503541,8.5
18,Brantford,Ontario,2011S0503543,6.1
19,Guelph,Ontario,2011S0503550,5.8
20,London,Ontario,2011S0503555,7.7
21,Windsor,Ontario,2011S0503559,11.1
22,Barrie,Ontario,2011S0503568,12.1
23,Greater Sudbury,Ontario,2011S0503580,7.7
24,Thunder Bay,Ontario,2011S0503595,7.6
25,Winnipeg,Manitoba,2011S0503602,8.4
26,Regina,Saskatchewan,2011S0503705,6.3
27,Saskatoon,Saskatchewan,2011S0503725,8.1
28,Calgary,Alberta,2011S0503825,10.4
29,Edmonton,Alberta,2011S0503835,11.1
30,Kelowna,British Columbia,2011S0503915,4.5
31,Abbotsford-Mission,British Columbia,2011S0503932,8.4
32,Vancouver,British Columbia,2011S0503933,7.4
33,Victoria,British Columbia,2011S0503935,5.8

In [80]:
city_income_df

,City,Province,City_ID,Median_Income($)
2,Corner Brook,Newfoundland and Labrador,2021S0504015,37600
3,Gander,Newfoundland and Labrador,2021S0504011,40000
4,Grand Falls-Windsor,Newfoundland and Labrador,2021S0504010,35600
5,St. John's,Newfoundland and Labrador,2021S0503001,42800
7,Charlottetown,Prince Edward Island,2021S0504105,39600
...,...,...,...,...
166,Vernon,British Columbia,2021S0504918,40000
167,Victoria,British Columbia,2021S0503935,45600
168,Williams Lake,British Columbia,2021S0504950,40400
170,Whitehorse,Yukon,2021S0504990,58400
172,Yellowknife,N.W.T.,2021S0504995,72000

In [81]:
# Merge income and unemployment dataframes
income_unemployment_df = city_income_df.merge(city_unemployment_df, on=["City", "Province", "City_ID"], how="outer")
income_unemployment_df

,City,Province,City_ID,Median_Income($),Unemployment_rate(%)
0,Corner Brook,Newfoundland and Labrador,2021S0504015,37600.0,NaN
1,Gander,Newfoundland and Labrador,2021S0504011,40000.0,NaN
2,Grand Falls-Windsor,Newfoundland and Labrador,2021S0504010,35600.0,NaN
3,St. John's,Newfoundland and Labrador,2021S0503001,42800.0,NaN
4,Charlottetown,Prince Edward Island,2021S0504105,39600.0,NaN
...,...,...,...,...,...
189,Edmonton,Alberta,2011S0503835,NaN,11.1
190,Kelowna,British Columbia,2011S0503915,NaN,4.5
191,Abbotsford-Mission,British Columbia,2011S0503932,NaN,8.4
192,Vancouver,British Columbia,2011S0503933,NaN,7.4
193,Victoria,British Columbia,2011S0503935,NaN,5.8

In [82]:
pop_income_unemployment_df = total_population_df.merge(income_unemployment_df, on=["City", "Province", "City_ID"], how="outer")
pop_income_unemployment_df

,City,Province,City_ID,Population 2021,Land Area (sqKM),Median_Income($),Unemployment_rate(%)
0,Division No. 1,Newfoundland and Labrador,2021A00031001,271878.0,9104.58,NaN,NaN
1,Admirals Beach,Newfoundland and Labrador,2021A00051001186,97.0,24.20,NaN,NaN
2,Aquaforte,Newfoundland and Labrador,2021A00051001144,74.0,6.88,NaN,NaN
3,Arnold's Cove,Newfoundland and Labrador,2021A00051001270,964.0,5.25,NaN,NaN
4,Avondale,Newfoundland and Labrador,2021A00051001464,584.0,29.69,NaN,NaN
...,...,...,...,...,...,...,...
5642,Edmonton,Alberta,2011S0503835,NaN,NaN,NaN,11.1
5643,Kelowna,British Columbia,2011S0503915,NaN,NaN,NaN,4.5
5644,Abbotsford-Mission,British Columbia,2011S0503932,NaN,NaN,NaN,8.4
5645,Vancouver,British Columbia,2011S0503933,NaN,NaN,NaN,7.4
5646,Victoria,British Columbia,2011S0503935,NaN,NaN,NaN,5.8

In [83]:
stations_tomerge = stations_cleaned_df.drop(columns=["Fuel Type Code", "Country", "ZIP"])
stations_tomerge

          ID                  City Province Status Code
0      82833                Brooks       AB           E
1      82834               Airdrie       AB           E
2      82835              Edmonton       AB           T
3      82836              Edmonton       AB           E
4      82837               Calgary       AB           E
...      ...                   ...      ...         ...
8952  223523                Québec       QC           E
8953  223524  Rocky Mountain House       AB           E
8954  223525             Penticton       BC           E
8957  223532              Montréal       QC           E
8958  223533            La Prairie       QC           E

[8089 rows x 4 columns]

In [84]:
stations_tomerge["Number_of_stations"] = stations_tomerge["City"].map(stations_tomerge["City"].value_counts())
stations_tomerge

          ID                  City Province Status Code  Number_of_stations
0      82833                Brooks       AB           E                   2
1      82834               Airdrie       AB           E                   6
2      82835              Edmonton       AB           T                  70
3      82836              Edmonton       AB           E                  70
4      82837               Calgary       AB           E                  93
...      ...                   ...      ...         ...                 ...
8952  223523                Québec       QC           E                 112
8953  223524  Rocky Mountain House       AB           E                   3
8954  223525             Penticton       BC           E                  17
8957  223532              Montréal       QC           E                 638
8958  223533            La Prairie       QC           E                   9

[8089 rows x 5 columns]

In [85]:
# Drop ID and Status Code columns
stations_tomerge = stations_tomerge.drop(columns=["ID", "Status Code"])
stations_tomerge

                      City Province  Number_of_stations
0                   Brooks       AB                   2
1                  Airdrie       AB                   6
2                 Edmonton       AB                  70
3                 Edmonton       AB                  70
4                  Calgary       AB                  93
...                    ...      ...                 ...
8952                Québec       QC                 112
8953  Rocky Mountain House       AB                   3
8954             Penticton       BC                  17
8957              Montréal       QC                 638
8958            La Prairie       QC                   9

[8089 rows x 3 columns]

In [86]:
stations_tomerge["Province"].value_counts()

QC    3348
ON    2372
BC    1402
AB     323
NB     162
NS     149
MB      92
SK      73
PE      71
NL      61
YT      35
NT       1
Name: Province, dtype: int64

In [87]:
stations_tomerge.loc[stations_tomerge['Province'].str.contains('QC'), 'Province'] = "Quebec"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('ON'), 'Province'] = "Ontario"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('BC'), 'Province'] = "British Columbia"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('AB'), 'Province'] = "Alberta"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('NB'), 'Province'] = "New Brunswick"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('NS'), 'Province'] = "Nova Scotia"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('MB'), 'Province'] = "Manitoba"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('SK'), 'Province'] = "Saskatchewan"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('PE'), 'Province'] = "Prince Edward Island"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('NL'), 'Province'] = "Newfoundland and Labrador"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('YT'), 'Province'] = "Yukon"
stations_tomerge.loc[stations_tomerge['Province'].str.contains('NT'), 'Province'] = "Northwest Territories"

stations_tomerge.reset_index(drop=True)
stations_tomerge.sample(10)

                          City       Province  Number_of_stations
5935                    Guelph        Ontario                  39
5463                Saint John  New Brunswick                  13
2400                 Shaunavon   Saskatchewan                   1
7765               Wilberforce        Ontario                   1
7708            Saint-Eustache         Quebec                   9
544                   Montreal         Quebec                  59
8219           St-Félix D’Otis         Quebec                   1
3060  Sainte-Brigitte-de-Laval         Quebec                   1
5533               Mississauga        Ontario                 171
6209                  Oakville        Ontario                  72

In [88]:
stations_popstats_df = stations_tomerge.merge(pop_income_unemployment_df, on=["City", "Province"], how="outer")

In [89]:
stations_popstats_df = stations_popstats_df[["City", "Province", "City_ID", "Population 2021", "Land Area (sqKM)", "Median_Income($)", "Unemployment_rate(%)", "Number_of_stations"]]
stations_popstats_df

,City,Province,City_ID,Population 2021,Land Area (sqKM),Median_Income($),Unemployment_rate(%),Number_of_stations
0,Brooks,Alberta,2021A00054802034,14924.0,18.21,NaN,NaN,2.0
1,Brooks,Alberta,2021A00054802034,14924.0,18.21,NaN,NaN,2.0
2,Airdrie,Alberta,2021A00054806021,74100.0,84.39,NaN,NaN,6.0
3,Airdrie,Alberta,2021A00054806021,74100.0,84.39,NaN,NaN,6.0
4,Airdrie,Alberta,2021A00054806021,74100.0,84.39,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...
14762,Edmonton,Alberta,2011S0503835,NaN,NaN,NaN,11.1,NaN
14763,Kelowna,British Columbia,2011S0503915,NaN,NaN,NaN,4.5,NaN
14764,Abbotsford-Mission,British Columbia,2011S0503932,NaN,NaN,NaN,8.4,NaN
14765,Vancouver,British Columbia,2011S0503933,NaN,NaN,NaN,7.4,NaN
14766,Victoria,British Columbia,2011S0503935,NaN,NaN,NaN,5.8,NaN

In [90]:
EV_reg_cities = EV_cities_df.reset_index(drop=True)

In [91]:
EV_reg_cities["Location_ID"] = [x[9:11] for x in EV_reg_cities["DGUID"]]
EV_reg_cities.sample(10)

,GEO,DGUID,Geo-ID,VALUE,REF_DATE,Location_ID
38741,Standing Buffalo 78,2016A00054706811,A00054706811,0.0,2020-07,47
49945,Bulyea,2016A00054706073,A00054706073,0.0,2021-07,47
44094,Briercrest,2016A00054706018,A00054706018,0.0,2021-01,47
4905,Kitimat-Stikine B,2016A00055949028,A00055949028,0.0,2017-04,59
52565,Old Post No. 43,2016A00054703011,A00054703011,0.0,2021-10,47
33894,Semans,2016A00054710022,A00054710022,0.0,2020-01,47
482,Cobalt,2016A00053554008,A00053554008,0.0,2017-01,35
39840,Bulkley-Nechako F,2016A00055951019,A00055951019,0.0,2020-07,59
43778,Dauphin,2016A00054617048,A00054617048,0.0,2021-01,46
13867,Mattagami 71,2016A00053552052,A00053552052,0.0,2018-04,35

In [92]:
EV_reg_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56427 entries, 0 to 56426
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GEO          56427 non-null  object
 1   DGUID        56427 non-null  object
 2   Geo-ID       56427 non-null  object
 3   VALUE        56427 non-null  float64
 4   REF_DATE     56427 non-null  object
 5   Location_ID  56427 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.6+ MB

In [93]:
EV_reg_cities[["GEO", "Province"]] = EV_reg_cities.GEO.str.split(', ',n=1,expand=True)
EV_reg_cities.head()

,GEO,DGUID,Geo-ID,VALUE,REF_DATE,Location_ID,Province
0,Campbellton,2016S050624330,S050624330,0.0,2017-01,24,Quebec part
1,Matane,2016S0504403,S0504403,2.0,2017-01,40,Quebec
2,Rimouski,2016S0504404,S0504404,8.0,2017-01,40,Quebec
3,Rivière-du-Loup,2016S0504405,S0504405,5.0,2017-01,40,Quebec
4,Baie-Comeau,2016S0504406,S0504406,3.0,2017-01,40,Quebec

In [94]:
# Translate Location_ID to Province name
# Save key value pairs for Province name and ID
prov_code = {"10": "Newfoundland and Labrador",
            "11": "Prince Edward Island",
            "12": "Nova Scotia",
            "13": "New Brunswick",
            "24": "Quebec",
            "35": "Ontario",
            "46": "Manitoba",
            "47": "Saskatchewan",
            "48": "Alberta",
            "59": "British Columbia",
            "60": "Yukon",
            "61": "Northwest Territories",
            "62": "Nunavut"}

EV_reg_cities["Province2"] = EV_reg_cities["Location_ID"].map(prov_code)
EV_reg_cities.sample(5)

,GEO,DGUID,Geo-ID,VALUE,REF_DATE,Location_ID,Province,Province2
23762,Thompson-Nicola M (Beautiful Nicola Valley - N...,2016A00055933008,A00055933008,0.0,2019-01,59,None,British Columbia
33493,Blaine Lake,2016A00054716016,A00054716016,0.0,2020-01,47,None,Saskatchewan
46556,Granville Lake,2016A00054623039,A00054623039,0.0,2021-04,46,None,Manitoba
33546,Tecumseh No. 65,2016A00054701063,A00054701063,0.0,2020-01,47,None,Saskatchewan
20197,Nokomis,2016A00054711044,A00054711044,0.0,2018-10,47,None,Saskatchewan

In [95]:
EV_reg_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56427 entries, 0 to 56426
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GEO          56427 non-null  object
 1   DGUID        56427 non-null  object
 2   Geo-ID       56427 non-null  object
 3   VALUE        56427 non-null  float64
 4   REF_DATE     56427 non-null  object
 5   Location_ID  56427 non-null  object
 6   Province     3318 non-null   object
 7   Province2    54327 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.4+ MB

In [96]:
EV_reg_cities["Province"].value_counts()

Ontario                             903
Quebec                              567
British Columbia                    546
Unorganized                         378
Saskatchewan                        189
Manitoba                            126
Unorganized, North Part             105
Quebec part                          63
Unorganized, West Part               63
Unorganized, South East Part         42
Ontario part                         42
Unorganized, South Part              42
Unorganized, East Part               42
Yukon                                21
Saskatchewan part                    21
Unorganized, Centre Part             21
Unorganized, South West Part         21
Unorganized, North East Part         21
Clara and Maria                      21
Hagarty and Richards                 21
Lyndoch and Raglan                   21
Meredith and Aberdeen Additional     21
Northwest Territories                21
Name: Province, dtype: int64

In [97]:
EV_reg_cities["Province2"].value_counts()

Saskatchewan             19971
British Columbia         15540
Ontario                  12117
Manitoba                  4872
Northwest Territories      882
Yukon                      840
Quebec                      63
Alberta                     42
Name: Province2, dtype: int64

In [98]:
EV_reg_cities.loc[EV_reg_cities['Province'].str.contains('Ontario', na=False), 'Province'] = "Ontario"
EV_reg_cities.loc[EV_reg_cities['Province'].str.contains('Quebec', na=False), 'Province'] = "Quebec"
# It is assumed that Québec represents Québec City, and not the province as a whole
EV_reg_cities.loc[EV_reg_cities['GEO'].str.contains('Québec', na=False), 'GEO'] = "Quebec City"
EV_reg_cities.loc[EV_reg_cities['Province'].str.contains('Saskatchewan', na=False), 'Province'] = "Saskatchewan"

EV_reg_cities.head()

,GEO,DGUID,Geo-ID,VALUE,REF_DATE,Location_ID,Province,Province2
0,Campbellton,2016S050624330,S050624330,0.0,2017-01,24,Quebec,Quebec
1,Matane,2016S0504403,S0504403,2.0,2017-01,40,Quebec,NaN
2,Rimouski,2016S0504404,S0504404,8.0,2017-01,40,Quebec,NaN
3,Rivière-du-Loup,2016S0504405,S0504405,5.0,2017-01,40,Quebec,NaN
4,Baie-Comeau,2016S0504406,S0504406,3.0,2017-01,40,Quebec,NaN

In [99]:
EV_reg_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56427 entries, 0 to 56426
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GEO          56427 non-null  object
 1   DGUID        56427 non-null  object
 2   Geo-ID       56427 non-null  object
 3   VALUE        56427 non-null  float64
 4   REF_DATE     56427 non-null  object
 5   Location_ID  56427 non-null  object
 6   Province     3318 non-null   object
 7   Province2    54327 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.4+ MB

In [100]:
# Fill NaN values in Province2 with values from Province
EV_reg_cities.Province2.fillna(EV_reg_cities.Province, inplace=True)

In [101]:
# Drop columns not needed and rename the columns
EV_reg_cities = EV_reg_cities.drop(columns=["DGUID", "Geo-ID", "Location_ID", "REF_DATE", "Province"])

In [102]:
EV_reg_cities = EV_reg_cities.rename(columns={"GEO":"City", 
                                    "VALUE":"Vehicles_sold_since_2017",
                                    "Province2": "Province"})

In [103]:
EV_reg_cities.head()

              City  Vehicles_sold_since_2017 Province
0      Campbellton                       0.0   Quebec
1           Matane                       2.0   Quebec
2         Rimouski                       8.0   Quebec
3  Rivière-du-Loup                       5.0   Quebec
4      Baie-Comeau                       3.0   Quebec

In [104]:
# Reorder the columns
EV_reg_cities = EV_reg_cities[["City", "Province", "Vehicles_sold_since_2017"]]

In [105]:
EV_reg_cities.head(15)

                  City Province  Vehicles_sold_since_2017
0          Campbellton   Quebec                       0.0
1               Matane   Quebec                       2.0
2             Rimouski   Quebec                       8.0
3      Rivière-du-Loup   Quebec                       5.0
4          Baie-Comeau   Quebec                       3.0
5             Saguenay   Quebec                       8.0
6                 Alma   Quebec                       2.0
7   Dolbeau-Mistassini   Quebec                       0.0
8            Sept-Îles   Quebec                       4.0
9          Quebec City   Quebec                     121.0
10        Sainte-Marie   Quebec                       1.0
11       Saint-Georges   Quebec                       1.0
12      Thetford Mines   Quebec                       1.0
13          Sherbrooke   Quebec                      28.0
14         Cowansville   Quebec                       2.0

In [106]:
EV_reg_cities["City"].value_counts()

Cochrane             84
Parry Sound          63
Hawkesbury           63
Whitehorse           63
Hamilton             63
                     ..
Baildon No. 131      21
Excelsior No. 166    21
Waldeck              21
Chaplin No. 164      21
Region 6             21
Name: City, Length: 2548, dtype: int64

In [107]:
EV_reg_cities = EV_reg_cities.groupby(['City'], as_index=False).agg({"Province": 'first', "Vehicles_sold_since_2017": 'sum'})

In [108]:
EV_reg_cities

,City,Province,Vehicles_sold_since_2017
0,105 Mile Post 2,British Columbia,0.0
1,Abbey,Saskatchewan,0.0
2,Abbotsford,British Columbia,1920.0
3,Abbotsford - Mission,British Columbia,2407.0
4,Aberdeen,Saskatchewan,0.0
...,...,...,...
2543,Zenon Park,Saskatchewan,0.0
2544,Zhiibaahaasing 19A (Cockburn Island 19A),Ontario,0.0
2545,Zoht 4,British Columbia,0.0
2546,Zorra,Ontario,19.0
2547,Île-à-la-Crosse,Saskatchewan,0.0

In [109]:
# save
EV_reg_cities.loc[EV_reg_cities["Province"] == "Quebec"]

                    City Province  Vehicles_sold_since_2017
51                  Alma   Quebec                     320.0
107          Baie-Comeau   Quebec                     166.0
271          Campbellton   Quebec                      16.0
471          Cowansville   Quebec                     275.0
553   Dolbeau-Mistassini   Quebec                     138.0
565        Drummondville   Quebec                    1621.0
812               Granby   Quebec                    1769.0
883           Hawkesbury   Quebec                      65.0
975             Joliette   Quebec                     855.0
1300              Matane   Quebec                     167.0
1654   Ottawa - Gatineau   Quebec                   10430.0
1820         Quebec City   Quebec                   11530.0
1875            Rimouski   Quebec                     769.0
1880     Rivière-du-Loup   Quebec                     357.0
1925            Saguenay   Quebec                    1752.0
1927       Saint-Georges   Quebec                     318.0
1928     Saint-Hyacinthe   Quebec                    1803.0
1929        Sainte-Marie   Quebec                     135.0
1986           Sept-Îles   Quebec                     235.0
1997          Shawinigan   Quebec                     653.0
2005          Sherbrooke   Quebec                    4084.0
2066         Sorel-Tracy   Quebec                     648.0
2263      Thetford Mines   Quebec                     212.0
2313      Trois-Rivières   Quebec                    2226.0
2376       Victoriaville   Quebec                     803.0

In [110]:
stations_popstats_df["Province"].value_counts()

Quebec                        5426
Ontario                       3547
British Columbia              2170
Saskatchewan                  1034
Alberta                        725
New Brunswick                  455
Newfoundland and Labrador      422
Manitoba                       345
Nova Scotia                    309
Prince Edward Island           162
Yukon                           58
Northwest Territories           47
Nunavut                         34
 Ontario                        14
 Quebec                          5
 British Columbia                4
 New Brunswick                   2
 Saskatchewan                    2
 Alberta                         2
 N.W.T.                          1
 Newfoundland and Labrador       1
 Nova Scotia                     1
 Manitoba                        1
Name: Province, dtype: int64

In [111]:
# Remove superfluous whitespace character leading province names in stations_popstats_df
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Ontario', na=False), 'Province'] = "Ontario"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Quebec', na=False), 'Province'] = "Quebec"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('British Columbia', na=False), 'Province'] = "British Columbia"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Saskatchewan', na=False), 'Province'] = "Saskatchewan"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Alberta', na=False), 'Province'] = "Alberta"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('New Brunswick', na=False), 'Province'] = "New Brunswick"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Newfoundland and Labrador', na=False), 'Province'] = "Newfoundland and Labrador"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Manitoba', na=False), 'Province'] = "Manitoba"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Nova Scotia', na=False), 'Province'] = "Nova Scotia"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Prince Edward Island', na=False), 'Province'] = "Prince Edward Island"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Yukon', na=False), 'Province'] = "Yukon"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Northwest Territories', na=False), 'Province'] = "Northwest Territories"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('N.W.T.', na=False), 'Province'] = "Northwest Territories"
stations_popstats_df.loc[stations_popstats_df['Province'].str.contains('Nunavut', na=False), 'Province'] = "Nunavut"

In [112]:
stations_popstats_df["Province"].value_counts()

Quebec                       5431
Ontario                      3561
British Columbia             2174
Saskatchewan                 1036
Alberta                       727
New Brunswick                 457
Newfoundland and Labrador     423
Manitoba                      346
Nova Scotia                   310
Prince Edward Island          162
Yukon                          58
Northwest Territories          48
Nunavut                        34
Name: Province, dtype: int64

In [113]:
stations_popstats_df.loc[stations_popstats_df["City"] == "Ottawa-Gatineau"]

,City,Province,City_ID,Population 2021,Land Area (sqKM),Median_Income($),Unemployment_rate(%),Number_of_stations
14742,Ottawa-Gatineau,Quebec,2011S050524505,NaN,NaN,NaN,7.0,NaN
14743,Ottawa-Gatineau,Ontario,2011S050535505,NaN,NaN,NaN,6.6,NaN

In [117]:
stations_popstats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14767 entries, 0 to 14766
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  14767 non-null  object
 1   Province              14767 non-null  object
 2   City_ID               13427 non-null  object
 3   Population 2021       13170 non-null  float64
 4   Land Area (sqKM)      13233 non-null  float64
 5   Median_Income($)      160 non-null    float64
 6   Unemployment_rate(%)  34 non-null     float64
 7   Number_of_stations    10184 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.0+ MB

### Begin to fill NaN values with provincial averages

In [114]:
prov_unemployment_df

                     Province         City_ID  Unemployment_rate(%)
0                      Canada  2016A000011124                   8.7
1   Newfoundland and Labrador     2016A000210                  12.5
3        Prince Edward Island     2016A000211                  10.1
4                 Nova Scotia     2016A000212                   7.9
6               New Brunswick     2016A000213                   9.6
9                      Quebec     2016A000224                   7.2
15                    Ontario     2016A000235                   9.4
33                   Manitoba     2016A000246                   7.6
35               Saskatchewan     2016A000247                   7.0
38                    Alberta     2016A000248                  10.9
41           British Columbia     2016A000259                   7.4

In [115]:
provincial_income

                     Province         City_ID  Median_Income($)
0                      Canada  2021A000011124             41200
1   Newfoundland and Labrador     2021A000210             36800
2        Prince Edward Island     2021A000211             38800
3                 Nova Scotia     2021A000212             38000
4               New Brunswick     2021A000213             37600
5                      Quebec     2021A000224             40800
6                     Ontario     2021A000235             41200
7                    Manitoba     2021A000246             39200
8                Saskatchewan     2021A000247             42400
9                     Alberta     2021A000248             44800
10           British Columbia     2021A000259             40800
11                      Yukon     2021A000260             54800
12      Northwest Territories     2021A000261             56800
13                    Nunavut     2021A000262             37600