In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Create reference paths to the raw dataset
path = "raw_datasets/"
EV_registrations_path = path + "EV_sales_table_raw.csv"
EV_stations_raw = path + "EV_stations_raw.csv"

In [3]:
EV__registrations_df = pd.read_csv(EV_registrations_path, index_col=0)
# Confirm file is read to DataFrame correctly
EV__registrations_df.head(10)

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,Vehicle type,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479871,1.1.1.1,3488.0,NaN,NaN,NaN,0
1,2017-01,Canada,2016A000011124,Battery electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277485216,1.2.1.1,1664.0,NaN,NaN,NaN,0
2,2017-01,Canada,2016A000011124,Plug-in hybrid electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277490561,1.3.1.1,1824.0,NaN,NaN,NaN,0
3,2017-01,Newfoundland and Labrador,2016A000210,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479872,2.1.1.1,NaN,..,NaN,NaN,0
4,2017-01,Newfoundland and Labrador,2016A000210,Battery electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277485217,2.2.1.1,NaN,..,NaN,NaN,0
5,2017-01,Newfoundland and Labrador,2016A000210,Plug-in hybrid electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277490562,2.3.1.1,NaN,..,NaN,NaN,0
6,2017-01,"St. John's, Newfoundland and Labrador",2016S0503001,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479873,3.1.1.1,NaN,..,NaN,NaN,0
7,2017-01,"St. John's, Newfoundland and Labrador",2016S0503001,Battery electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277485218,3.2.1.1,NaN,..,NaN,NaN,0
8,2017-01,"St. John's, Newfoundland and Labrador",2016S0503001,Plug-in hybrid electric,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277490563,3.3.1.1,NaN,..,NaN,NaN,0
9,2017-01,Conception Bay South,2016A00051001485,All zero-emission vehicles,"Total, vehicle type",Number of vehicles,Units,300,units,0,v1277479874,4.1.1.1,NaN,..,NaN,NaN,0

In [4]:
# Check column headers
EV__registrations_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Zero-Emission Vehicles Fuel Type',
       'Vehicle type', 'Statistics', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL',
       'TERMINATED', 'DECIMALS'],
      dtype='object')

In [5]:
# Check data types
EV__registrations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320700 entries, 0 to 320699
Data columns (total 17 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   REF_DATE                          320700 non-null  object
 1   GEO                               320700 non-null  object
 2   DGUID                             319920 non-null  object
 3   Zero-Emission Vehicles Fuel Type  320700 non-null  object
 4   Vehicle type                      320700 non-null  object
 5   Statistics                        320700 non-null  object
 6   UOM                               320700 non-null  object
 7   UOM_ID                            320700 non-null  int64
 8   SCALAR_FACTOR                     320700 non-null  object
 9   SCALAR_ID                         320700 non-null  int64
 10  VECTOR                            320700 non-null  object
 11  COORDINATE                        320700 non-null  object
 12  VALUE                             162240 non-null  float64
 13  STATUS                            158460 non-null  object
 14  SYMBOL                            0 non-null       float64
 15  TERMINATED                        0 non-null       float64
 16  DECIMALS                          320700 non-null  int64
dtypes: float64(3), int64(3), object(11)
memory usage: 44.0+ MB

In [6]:
# Check number of unique values in all columns
EV__registrations_df.nunique()

REF_DATE                               20
GEO                                  5128
DGUID                                5332
Zero-Emission Vehicles Fuel Type        3
Vehicle type                            1
Statistics                              1
UOM                                     1
UOM_ID                                  1
SCALAR_FACTOR                           1
SCALAR_ID                               1
VECTOR                              16035
COORDINATE                          16035
VALUE                                 848
STATUS                                  1
SYMBOL                                  0
TERMINATED                              0
DECIMALS                                1
dtype: int64

In [7]:
# Drop columns with 1 or 0 number of unique values and "Unnamed: 0" as it matches the index
# Drop Vector and Coordinate columns, as they do not provide meaningful data for this analysis
EV__registrations_df = EV__registrations_df.drop([ 
                "Vehicle type", 
                "Statistics", 
                "UOM",
                "UOM_ID",
                "SCALAR_FACTOR",
                "SCALAR_ID",
                "VECTOR",
                "COORDINATE", 
                "STATUS", 
                "SYMBOL", 
                "TERMINATED", 
                "DECIMALS"], axis=1)
EV__registrations_df.sample(5)

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE
81501,2018-04,Abrams Village,2016A00051103027,All zero-emission vehicles,NaN
103728,2018-07,Dorion,2016A00053558034,All zero-emission vehicles,0.0
245026,2020-10,Les Méchins,2016A00052408005,Battery electric,NaN
212316,2020-04,Lac-Brome,2016A00052446075,All zero-emission vehicles,NaN
39414,2017-07,West Lincoln,2016A00053526021,All zero-emission vehicles,6.0

In [8]:
# Drop rows with any NaN values remaining
EV_cleaned_df = EV__registrations_df.dropna()
print(EV_cleaned_df.shape[0])
EV_cleaned_df.sample(5)

161820

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE
14373,2017-01,Strathcona C,2016A00055924054,All zero-emission vehicles,0.0
87054,2018-04,Niagara Falls,2016A00053526043,All zero-emission vehicles,23.0
215179,2020-04,Hiawatha First Nation,2016A00053515008,Battery electric,0.0
201486,2020-01,Waterhen 45,2016A00054619069,All zero-emission vehicles,0.0
295667,2021-07,Point Edward,2016A00053538031,Plug-in hybrid electric,0.0

In [9]:
# Filter rows for All zero-emission vehicles to remove duplicated information
all_zev = EV_cleaned_df["Zero-Emission Vehicles Fuel Type"] == "All zero-emission vehicles"
EV_filtered_df = EV_cleaned_df[all_zev]
print(EV_filtered_df.shape)
EV_filtered_df.sample(5)

(53940, 5)

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE
265194,2021-01,De Salaberry,2016A00054602032,All zero-emission vehicles,0.0
47643,2017-07,Dzitline Lee 9,2016A00055951814,All zero-emission vehicles,0.0
282489,2021-04,Pasqua 79,2016A00054706812,All zero-emission vehicles,0.0
203049,2020-01,Hazel Dell No. 335,2016A00054709060,All zero-emission vehicles,0.0
27351,2017-04,Ernfold,2016A00054707028,All zero-emission vehicles,0.0

In [10]:
# Save Geographic Unique Identifier from DGUID column to new column, then drop DGUID
EV_filtered_df["Geo-ID"] = [x[4:] for x in EV_filtered_df["DGUID"]]
EV_filtered_df.sample(5)

C:\Users\merri\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,REF_DATE,GEO,DGUID,Zero-Emission Vehicles Fuel Type,VALUE,Geo-ID
183315,2019-10,"Tillsonburg, Ontario",2016S0504546,All zero-emission vehicles,2.0,S0504546
137172,2019-01,Fisher,2016A00054618068,All zero-emission vehicles,0.0,A00054618068
296913,2021-07,Aroland 83,2016A00053558076,All zero-emission vehicles,0.0,A00053558076
72081,2018-01,Whitefish River (Part) 4,2016A00053551040,All zero-emission vehicles,0.0,A00053551040
267237,2021-01,Loreburn No. 254,2016A00054711018,All zero-emission vehicles,0.0,A00054711018

In [11]:
# Drop DGUID and Zero-Emission Vehicles Fuel Type columns, save to new DataFrame
EV_locations_df = EV_filtered_df.drop(columns=["DGUID", "Zero-Emission Vehicles Fuel Type"], axis=1)

In [12]:
# Reset the index
EV_locations_df.reset_index(drop=True)

      REF_DATE                       GEO   VALUE        Geo-ID
0      2017-01                    Canada  3488.0    A000011124
1      2017-01      Prince Edward Island     0.0       A000211
2      2017-01             New Brunswick     5.0       A000213
3      2017-01                    Quebec  1247.0       A000224
4      2017-01  Campbellton, Quebec part     0.0    S050624330
...        ...                       ...     ...           ...
53935  2021-10                 Lutselk'e     0.0  A00056105020
53936  2021-10                  Reliance     0.0  A00056105026
53937  2021-10     Region 5, Unorganized     0.0  A00056105097
53938  2021-10                     Detah     0.0  A00056106021
53939  2021-10     Region 6, Unorganized     0.0  A00056106097

[53940 rows x 4 columns]

In [13]:
# Reorder the columns for ease of reading
EV_locations_df = EV_locations_df[['GEO', 'Geo-ID', 'VALUE', 'REF_DATE']]
EV_locations_df.head()

                           GEO      Geo-ID   VALUE REF_DATE
0                       Canada  A000011124  3488.0  2017-01
1140      Prince Edward Island     A000211     0.0  2017-01
1797             New Brunswick     A000213     5.0  2017-01
2643                    Quebec     A000224  1247.0  2017-01
2646  Campbellton, Quebec part  S050624330     0.0  2017-01

In [14]:
# Save Canada to separate DataFrame, drop from locations DataFrame
EV_country_df = EV_locations_df.loc[lambda EV_locations_df: EV_locations_df['GEO'] == 'Canada']
EV_country_df

           GEO      Geo-ID    VALUE REF_DATE
0       Canada  A000011124   3488.0  2017-01
16035   Canada  A000011124   5025.0  2017-04
32070   Canada  A000011124   5184.0  2017-07
48105   Canada  A000011124   5999.0  2017-10
64140   Canada  A000011124   6844.0  2018-01
80175   Canada  A000011124  14879.0  2018-04
96210   Canada  A000011124  12622.0  2018-07
112245  Canada  A000011124   9938.0  2018-10
128280  Canada  A000011124   8275.0  2019-01
144315  Canada  A000011124  19446.0  2019-04
160350  Canada  A000011124  16186.0  2019-07
176385  Canada  A000011124  12258.0  2019-10
192420  Canada  A000011124  11923.0  2020-01
208455  Canada  A000011124   9203.0  2020-04
224490  Canada  A000011124  17299.0  2020-07
240525  Canada  A000011124  15928.0  2020-10
256560  Canada  A000011124  17285.0  2021-01
272595  Canada  A000011124  24006.0  2021-04
288630  Canada  A000011124  23962.0  2021-07
304665  Canada  A000011124  20779.0  2021-10

In [15]:
# Save provinces to separate dataframe, drop from original locations dataframe
provinces = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon', 'Northwest Territories', 'Nunavut']
EV_provinces_df = EV_locations_df[EV_locations_df.GEO.isin(provinces)]
EV_provinces_df

                          GEO   Geo-ID   VALUE REF_DATE
1140     Prince Edward Island  A000211     0.0  2017-01
1797            New Brunswick  A000213     5.0  2017-01
2643                   Quebec  A000224  1247.0  2017-01
6594                  Ontario  A000235  1319.0  2017-01
8460                 Manitoba  A000246    10.0  2017-01
...                       ...      ...     ...      ...
313125               Manitoba  A000246   184.0  2021-10
313836           Saskatchewan  A000247   143.0  2021-10
318057       British Columbia  A000259  5482.0  2021-10
320352                  Yukon  A000260     8.0  2021-10
320469  Northwest Territories  A000261     5.0  2021-10

[180 rows x 4 columns]

In [16]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('cleaned_datasets/EV_registrations_provinces.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
EV_provinces_df.to_csv(filepath)

In [17]:
# Drop rows for Canada and each Province/Territory, save to EV_cities_df
EV_cities_df = EV_locations_df.loc[(EV_locations_df.GEO.values != "Canada") & (~EV_locations_df["GEO"].isin(provinces))]
EV_cities_df

                             GEO        Geo-ID  VALUE REF_DATE
2646    Campbellton, Quebec part    S050624330    0.0  2017-01
2655              Matane, Quebec      S0504403    2.0  2017-01
2670            Rimouski, Quebec      S0504404    8.0  2017-01
2688     Rivière-du-Loup, Quebec      S0504405    5.0  2017-01
2709         Baie-Comeau, Quebec      S0504406    3.0  2017-01
...                          ...           ...    ...      ...
320586                 Lutselk'e  A00056105020    0.0  2021-10
320589                  Reliance  A00056105026    0.0  2021-10
320592     Region 5, Unorganized  A00056105097    0.0  2021-10
320595                     Detah  A00056106021    0.0  2021-10
320598     Region 6, Unorganized  A00056106097    0.0  2021-10

[53740 rows x 4 columns]

In [18]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('cleaned_datasets/EV_registrations_cities.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
EV_cities_df.to_csv(filepath)

In [19]:
# Read in the stations dataset, set index as column 0
stations_data = pd.read_csv(EV_stations_raw, low_memory=False, index_col=0)
stations_data

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,ELEC,Ramada,1319 2nd St W,NaN,Brooks,AB,T1R 1P7,NaN,403-362-6440,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,ELEC,Davis Chevrolet,149 E Lake Crescent NE,NaN,Airdrie,AB,T4A 2H9,NaN,403-948-6909,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,ELEC,Go Nissan South,1275 101 St SW,NaN,Edmonton,AB,T6X 1A1,NaN,780-463-5700,T,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,ELEC,Don Wheaton Chevrolet,10727 - 82 Ave,NaN,Edmonton,AB,T6E 2B1,NaN,NaN,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,ELEC,Gasonic Instruments,8-823 41st Ave NE,NaN,Calgary,AB,T2E 6Y3,NaN,403-276-2201,E,...,Gratuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8954,ELEC,City_of_Penticton,171 main street,NaN,Penticton,BC,V2A 5A9,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,ELEC,13601 Glenoaks blvd,13601 Glenoaks blvd,NaN,Los Angeles,CA,91342,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,ELEC,6723 Van Nuys blvd,6723 Van Nuys Blvd,NaN,Los Angeles,CA,91405,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8957,ELEC,12225 Grenet,12225 Rue Grenet,NaN,Montréal,QC,H4J 2N7,NaN,855-999-8378,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8958,ELEC,Ville de la Prairie - Église de La Nativité de...,155 Chemin de Saint-Jean,NaN,La Prairie,QC,J5R 2J9,NaN,855-999-8378,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Save relevant columns to new stations_df DataFrame
stations_df = stations_data[["ID", "Fuel Type Code", "City", "State", "Country", "ZIP", "Status Code"]].copy()
stations_df.head()

      ID Fuel Type Code      City State Country      ZIP Status Code
0  82833           ELEC    Brooks    AB      CA  T1R 1P7           E
1  82834           ELEC   Airdrie    AB      CA  T4A 2H9           E
2  82835           ELEC  Edmonton    AB      CA  T6X 1A1           T
3  82836           ELEC  Edmonton    AB      CA  T6E 2B1           E
4  82837           ELEC   Calgary    AB      CA  T2E 6Y3           E

In [21]:
# Rename State column to Province column
stations_df = stations_df.rename(columns={"State": "Province"})
stations_df.head()

      ID Fuel Type Code      City Province Country      ZIP Status Code
0  82833           ELEC    Brooks       AB      CA  T1R 1P7           E
1  82834           ELEC   Airdrie       AB      CA  T4A 2H9           E
2  82835           ELEC  Edmonton       AB      CA  T6X 1A1           T
3  82836           ELEC  Edmonton       AB      CA  T6E 2B1           E
4  82837           ELEC   Calgary       AB      CA  T2E 6Y3           E

In [22]:
# Check data types of columns
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8959 entries, 0 to 8958
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              8959 non-null   int64
 1   Fuel Type Code  8959 non-null   object
 2   City            8959 non-null   object
 3   Province        8959 non-null   object
 4   Country         8959 non-null   object
 5   ZIP             8958 non-null   object
 6   Status Code     8959 non-null   object
dtypes: int64(1), object(6)
memory usage: 559.9+ KB

In [23]:
# Check data for missing values
stations_df.isnull().sum()

ID                0
Fuel Type Code    0
City              0
Province          0
Country           0
ZIP               1
Status Code       0
dtype: int64

In [24]:
# Drop rows with missing values
stations_df = stations_df.dropna()

In [25]:
# Check the number of unique values for each column to confirm all rows are Country=Canada
stations_df.nunique()

ID                8958
Fuel Type Code       6
City              1865
Province            14
Country              1
ZIP               6841
Status Code          3
dtype: int64

In [26]:
# Get value counts for each value in "State" column to confirm all canadian provinces and territories
stations_df["Province"].value_counts()

QC    3551
ON    2515
BC    1592
AB     510
NB     165
NS     154
SK     149
MB     147
PE      71
NL      61
YT      37
NT       3
CA       2
OH       1
Name: Province, dtype: int64

In [27]:
# View rows of stations where Province = "OH" or "CA"
stations_df.loc[(stations_df.Province.values == "OH") | (stations_df.Province.values == "CA")]

          ID Fuel Type Code         City Province Country      ZIP Status Code
7133  194299           ELEC       Guelph       OH      CA  N1K 1X3           E
8955  223527           ELEC  Los Angeles       CA      CA    91342           E
8956  223530           ELEC  Los Angeles       CA      CA    91405           E

In [28]:
# Remove rows where Province = "CA"
stations_cleaned_df = stations_df.loc[stations_df.Province.values != "CA"]
# Confirm new value counts
stations_cleaned_df["Province"].value_counts()

QC    3551
ON    2515
BC    1592
AB     510
NB     165
NS     154
SK     149
MB     147
PE      71
NL      61
YT      37
NT       3
OH       1
Name: Province, dtype: int64

In [29]:
# Replace miscoded value of "OH" with "ON" 
stations_cleaned_df = stations_cleaned_df.replace(to_replace="OH",
                            value="ON")
# Confirm new value counts
stations_cleaned_df["Province"].value_counts()

QC    3551
ON    2516
BC    1592
AB     510
NB     165
NS     154
SK     149
MB     147
PE      71
NL      61
YT      37
NT       3
Name: Province, dtype: int64

In [30]:
# Filter for Electric fuel type
stations_cleaned_df = stations_cleaned_df[stations_cleaned_df["Fuel Type Code"] == "ELEC"]
stations_cleaned_df.sample(10)

,ID,Fuel Type Code,City,Province,Country,ZIP,Status Code
4303,139502,ELEC,Kingston,ON,CA,K7K 1A1,E
3188,130062,ELEC,Boston Bar,BC,CA,V0K 1C0,E
5269,158041,ELEC,Niagara Falls,ON,CA,L2H 2E9,P
7639,202057,ELEC,Rimouski,QC,CA,G0L 1B0,E
7187,196093,ELEC,Sainte-Anne-des-Plaines,QC,CA,J0N 1H0,E
3077,129930,ELEC,Victoria,BC,CA,V8W 2Z6,E
4012,131042,ELEC,Mont-Tremblant,QC,CA,J8E 3K6,E
433,83589,ELEC,Jacksonville,NB,CA,E7M 3J2,E
5332,158206,ELEC,Coteau du lac,QC,CA,J0P 1B0,E
7880,206776,ELEC,Toronto,ON,CA,M6M 1Y3,E

In [31]:
# Save cleaned data to CSV file
# Define file path to save data
filepath = Path('cleaned_datasets/EV_stations_locations.csv')
# Allow folders and subfolders to be created is needed
filepath.parent.mkdir(parents=True, exist_ok=True)
# Save the file
stations_cleaned_df.to_csv(filepath)

In [32]:
stations_cleaned_df

,ID,Fuel Type Code,City,Province,Country,ZIP,Status Code
0,82833,ELEC,Brooks,AB,CA,T1R 1P7,E
1,82834,ELEC,Airdrie,AB,CA,T4A 2H9,E
2,82835,ELEC,Edmonton,AB,CA,T6X 1A1,T
3,82836,ELEC,Edmonton,AB,CA,T6E 2B1,E
4,82837,ELEC,Calgary,AB,CA,T2E 6Y3,E
...,...,...,...,...,...,...,...
8952,223523,ELEC,Québec,QC,CA,G1V 1T2,E
8953,223524,ELEC,Rocky Mountain House,AB,CA,T4T 1A6,E
8954,223525,ELEC,Penticton,BC,CA,V2A 5A9,E
8957,223532,ELEC,Montréal,QC,CA,H4J 2N7,E
8958,223533,ELEC,La Prairie,QC,CA,J5R 2J9,E

In [33]:
EV_cities_df

                             GEO        Geo-ID  VALUE REF_DATE
2646    Campbellton, Quebec part    S050624330    0.0  2017-01
2655              Matane, Quebec      S0504403    2.0  2017-01
2670            Rimouski, Quebec      S0504404    8.0  2017-01
2688     Rivière-du-Loup, Quebec      S0504405    5.0  2017-01
2709         Baie-Comeau, Quebec      S0504406    3.0  2017-01
...                          ...           ...    ...      ...
320586                 Lutselk'e  A00056105020    0.0  2021-10
320589                  Reliance  A00056105026    0.0  2021-10
320592     Region 5, Unorganized  A00056105097    0.0  2021-10
320595                     Detah  A00056106021    0.0  2021-10
320598     Region 6, Unorganized  A00056106097    0.0  2021-10

[53740 rows x 4 columns]